<div class="row ox--cpmi-roei-wrapper">
  <div class="col-7">
    <span class="ox--cpmi-roei-image">
      <img
        src="/assets/images/icons/users.png"
        alt="project image"
      />
    </span>
    <span class="ox--cpmi-roei-data-wrapper">
      <span class="ox--cpmi-roei-data"><b>{{ (cpmiValue | currency: 'USD') }}</b></span>
      <span>CPMI</span>
    </span>
  </div>

  <div class="col-5">
    <span class="ox--cpmi-roei-image">
      <img
        src="/assets/images/icons/ticket.png"
        alt="project image"
      />
    </span>
    <span class="ox--cpmi-roei-data-wrapper">
      <span class="ox--cpmi-roei-data"><b>{{ roeiValue }}%</b></span>
      <span>ROEI</span>
    </span>
  </div>
</div>
