.ox--cpmi-roei-wrapper {
  padding-top: 15px;
  
  .ox--cpmi-roei-image {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 50px;

    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  .ox--cpmi-roei-data-wrapper {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;

    .ox--cpmi-roei-data {
      display: block;
  
      b {
        color: #000;
        font-size: 1.6rem;
      }
    }
  }
}