
.ox--header-container {
	position: relative;

	h2 {
		font-weight: 800;
		font-size: 24px;
		line-height: 21px;
	}

	h3 {
		color: #000;
		font-weight: bold;
	}

	.ox--btn-download-pdf {
		margin-right: 15px;
	}

	.ox--project-img-header {
		width: 100px;

		img {
			width: 100%;
		}
	}

	.ox--actions-header {
		padding-right: 0;

		a {
			color: #000;
			font-weight: bold;
			margin-right: 10px;
		}
	}

	.ox--reload-dashboard {
		background-color: #fff;
		border: 1px solid #82868b;
		border-radius: 4px;
		cursor: pointer;
		font-weight: bold;
		font-style: italic;
		padding: 5px 10px;
		position: absolute;
		right: 0px;
		top: 30px;
		transition: .3s ease-in-out;
		-webkit-transition: .3s ease-in-out;
		
		.ox--icon-reload {
			transform: rotate(0deg);
			transition: .3s ease-in-out;
			-webkit-transition: .3s ease-in-out;
		}

		&:hover {
			box-shadow: 0 8px 25px -8px #82868b;

			.ox--icon-reload {
				transform: rotate(180deg);
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.ox--header-container {
		.ox--actions-header {
			flex-wrap: wrap;
			padding-left: 0;

			button, a {
				display: block;
				margin: 5px 0;
				text-align: center;
				width: 100%;
			}
		}

		.ox--reload-dashboard {
			display: block;
			left: 0;
			margin: 0 auto;
			position: relative;
			right: 0;
			top: 0;
			width: 75px;
		}
	}
}