<div
	class="row pb-1 align-items-center justify-content-center justify-content-md-start"
>
	<div class="col-auto text-center text-md-left ox--project-img-header">
		<img
			[src]="
				projectImage
					? imageContainer + '/projects/' + projectImage
					: '/assets/images/icons/default-image.svg'
			"
			alt="{{ projectTitle }} image"
		/>
	</div>
	<div class="col-auto text-center text-md-left">
		<h2>
			{{ projectTitle }}
		</h2>
		{{ eventClient }}
	</div>
</div>
<span class="ox--reload-dashboard" (click)="reloadData()" *ngIf="enableSavingTemporary">
	<span [data-feather]="'refresh-cw'" class="ox--icon-reload"></span>
	<small>Reload</small>
</span>

<hr>

<div
	class="row pb-1 align-items-center justify-content-center justify-content-md-start"
>
	<div class="col-auto text-center text-md-left">
		<h3>{{ eventGroupTitle }}</h3>
	</div>
	<div class="justify-content-md-end ml-md-auto col-auto row mx-0" *ngIf="!isPublic">
		<div
			class="col-md-auto col-12 align-items-center justify-content-center d-flex mb-1"
		>
			<div class="avatar-group">
				<img
					src="assets/images/avatars/avatar.png"
					*ngIf="contReporters > 0"
					class="avatar"
					alt="Avatar"
					width="33"
					height="33"
				/>
				<img
					src="assets/images/avatars/avatar.png"
					*ngIf="contReporters > 9"
					class="avatar"
					alt="Avatar"
					width="33"
					height="33"
				/>
				<img
					src="assets/images/avatars/avatar.png"
					*ngIf="contReporters > 19"
					class="avatar"
					alt="Avatar"
					width="33"
					height="33"
				/>
				<img
					src="assets/images/avatars/avatar.png"
					*ngIf="contReporters > 29"
					class="avatar"
					alt="Avatar"
					width="33"
					height="33"
				/>
				<img
					src="assets/images/avatars/avatar.png"
					*ngIf="contReporters > 39"
					class="avatar"
					alt="Avatar"
					width="33"
					height="33"
				/>
			</div>
			<div class="ml-1">{{ contReporters }} Reporters</div>
		</div>
		<div
			class="col-md-auto col-12 align-items-center justify-content-center d-flex mb-1 ox--actions-header"
		>
			<a [routerLink]="['reporters']">
				+ Add reporters
			</a>
			<button type="button" class="btn btn-outline-secondary mr-md-1" [routerLink]="['/event/single', eventId]">
				Edit Event
			</button>
			<button type="button" class="btn btn-primary" (click)="copyToClipboard()">
				<i class="feather icon-link mr-auto"></i>
				Get Report Link
			</button>
		</div>
	</div>
</div>
