.onxite--login-bg {
  background-image: url('/assets/images/illustration/background-green-gradient-dark-theme.svg');
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 98%;
  overflow: hidden;
  min-height: 100vh !important;
}

.ox--header-section {
  .ox--project-logo {
    .ox--image-wrapper {
      padding-bottom: 20px;
      margin: 0 auto;
      width: 100px;
  
      img {
        width: 100%;
      }
    }
  }
}

.ox--hero-section {
  .ox--check-image {
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
}

.ox--content-section {
  padding: 20px 0;
  text-align: center;

  span {
    display: block;
  }
}

.ox--prefooter-section {
  text-align: center;

  span {
    color: #fff;
    display: block;
    font-size: 0.9rem;
    margin: 0 auto;
    padding: 5px 0;
    width: 80%;
  }
}

.ox--content-footer {
  padding-top: 40px;
  text-align: center;

  span {
    color: #fff;
    font-size: 0.8rem;

    img {
      vertical-align: baseline;
      width: 50px;
    }
  }
}

.txt-center {
  text-align: center;
}

h3 {
  color: #A9FF01;
  margin-bottom: 30px;
}

p, a {
  color: #fff !important;
}

@media only screen and (max-width: 992px) {
  .content {
    &.onxite--login-bg {
      padding: 0 0 0 0!important;
      background-position-y: 100%;
    }
  }
}
