<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row justify-content-center">

      <div class="col-12 col-md-6 ox--header-section">
        <div class="ox--project-logo">
          <ng-container>
            <div class="ox--image-wrapper" *ngIf="eventInfo && eventInfo.project.image; else onlyTitle">
              <img [src]="imageContainer + '/projects/' + eventInfo.project.image" alt="{{ eventInfo.project.name }} image" />
            </div>
          </ng-container>
          <ng-template #onlyTitle>
            <div class="ox--title-wrapper">
              <h2>
                {{ eventInfo?.project.name }}
              </h2>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="col-12 ox--hero-section">
        <span class="ox--check-image">
          <img src="assets/images/icons/icon-check-dark-t.svg" alt="">
        </span>
        <h3 class="txt-center">Survey Completed</h3>
        <p class="txt-center">Thank you</p>
      </div>

      <div class="col-12 ox--content-section">
        <p>
          <span>Brand: <b>{{ eventInfo?.project.name }}</b></span>
          <span>Team: <b>{{ eventInfo?.company.name }}</b></span>
          <span>Created by: <b>{{ eventInfo?.user.fullname }}</b></span>
        </p>
        <p>
          <span>questions or suggestions email</span>
          <span><a href="mailto:{{ eventInfo?.user.email }}">{{ eventInfo?.user.email }}</a></span>
        </p>
      </div>

      <div class="col-12 ox--prefooter-section">
        <span>
          Onxite: Bold Measurement & Reporting Solutions for Sponsored Events.
        </span>
        <span>Request Info or Demo: <a href="mailto:{{emailContact}}">{{ emailContact }}</a></span>
      </div>

      <div class="col-12 ox--content-footer">
        <span>
          Powered by <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" />
        </span>
      </div>

    </div>
  </div>
</div>