@import '@core/scss/base/plugins/charts/chart-apex';

.ox--card-without-header-wrapper {
  padding: 0;

  .ox--card-without-header {
    background-clip: border-box;
    background-color: #fff;
    border-radius: 0.428rem;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    min-width: 0;
    position: relative;
    word-wrap: break-word;
  }
}

.ox--card-without-header-wrapper:first-of-type {
  .ox--card-without-header {
    margin-left: 15px;
    margin-right: 10px;
  }
}

.ox--card-without-header-wrapper:last-of-type {
  .ox--card-without-header {
    margin-left: 10px;
    margin-right: 15px;
  }
}

.ox--event-description {
  margin: 0;

  & > .card-body {
    display: flex;
    padding: 15px 5px;
  }

  .ox--side-left {
    padding-right: 0;
  }

  .ox--side-right {
    padding-left: 0;
    padding-right: 0;

    .row {
      & > .col-6 {
        padding: 0 5px;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  .ox--header-indicators {
    margin: 0 25px;
    padding: 15px 0 0 0;

    .ox--header-indicators-wrapper {
      padding: 0;

      span {
        color: #000;
        font-size: 1.1rem;
      }
  
      img {
        width: 100%;
      }
  
      .ox--header-indicator-icons {
        padding: 0px 5px 0px 22px;
      }
  
      .col-8 {
        padding: 0 2px;
      }
  
      small {
        display: block;
        line-height: 1;
      }
    }
  }
}

.ox--event-invited-reporters {
  .title-dashboard {
    margin-bottom: 5px;
    padding: 15px 0 0 30px;
  }
}

b {
  color: #000;
}

@media only screen and (max-width: 768px) {
  .ox--side-left {
    margin-bottom: 15px;

    .ox--header-indicators {
      .ox--header-indicator-icons {
        height: 50px;
      }

      .ox--header-indicators-wrapper {
        img {
          width: 35px;
        }
      }
    }
  }

  .ox--card-without-header-wrapper:first-of-type {
    .ox--card-without-header {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}