<div class="row">
	<div class="col-12 col-md-8 ox--card-without-header-wrapper">
		<div class="ox--card-without-header">
			<div class="row ox--event-description">
				<div class="card-body">
					<div class="col-12">
						<div class="row">
							<div class="col-12 col-md-7 ox--side-left">
								<div class="row">
									<div class="col-12 col-md-12">
										<h2 class="text-black">{{ eventName }}</h2>
									</div>
									<div class="col-12 col-md-12">
										<span>Brand: {{ eventClient | titlecase }}</span>
									</div>
									<div class="col-12 col-md-12">
										<span>Master admin: {{ eventCreatedBy | titlecase }}</span>
									</div>
									<div class="col-12 col-md-12">
										<span>Agency: {{ eventAgency | titlecase }}</span>
									</div>

									<div class="col-12 col-md-12 ox--header-indicators">
										<div class="row">
											<div class="col-12 col-md-4 ox--header-indicators-wrapper">
												<div class="row">
													<div class="col-2 col-md-4 ox--header-indicator-icons">
														<img src="assets/images/icons/budget.png" alt="">
													</div>
													<div class="col-10 col-md-8">
														<span><b>{{ eventBudget !== '0' ? (eventBudget | currency: 'USD' : 'symbol':'1.0-0') : '$0' }}</b></span>
														<small>Event Budget Activation</small>
													</div>
												</div>
											</div>

											<div class="col-12 col-md-4 ox--header-indicators-wrapper">
												<div class="row">
													<div class="col-2 col-md-4 ox--header-indicator-icons">
														<img src="assets/images/icons/investment.png" alt="">
													</div>
													<div class="col-10 col-md-8">
														<span><b>{{ eventInvestment !== '0' ? (eventInvestment | currency: 'USD' : 'symbol':'1.0-0') : '$0' }}</b></span>
														<small>Sponsorship Investment</small>
													</div>
												</div>
											</div>

											<div class="col-12 col-md-4 ox--header-indicators-wrapper">
												<div class="row">
													<div class="col-2 col-md-4 ox--header-indicator-icons">
														<img src="assets/images/icons/ratio.png" alt="">
													</div>
													<div class="col-10 col-md-8">
														<span><b>{{ eventRatio }}</b></span>
														<small>Ratio</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-5 ox--side-right">
								<div class="row">
									<div class="col-12 col-md-12">
										<div class="row">
											<div class="col-6">
												<h3 class="text-black ml-2 text-md-right text-left">Event Type</h3> 
											</div>
											<div class="col-6">
												<span>{{ eventType | titlecase }}</span>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-12">
										<div class="row">
											<div class="col-6">
												<h3 class="text-black ml-2 text-md-right text-left">Objective</h3> 
											</div>
											<div class="col-6">
												<span>{{ objetive | titlecase }}</span>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-12">
										<div class="row">
											<div class="col-6">
												<h3 class="text-black ml-2 text-md-right text-left">Location</h3> 
											</div>
											<div class="col-6">
												<span>{{ location }}</span>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-12">
										<div class="row">
											<div class="col-6">
												<h3 class="text-black ml-2 text-md-right text-left">Start Date</h3> 
											</div>
											<div class="col-6">
												<span>{{ dateStart | date: "MM/dd/YYYY" }}</span>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-12">
										<div class="row">
											<div class="col-6">
												<h3 class="text-black ml-2 text-md-right text-left">End Date</h3> 
											</div>
											<div class="col-6">
												<span>{{ dateFinish | date: "MM/dd/YYYY" }}</span>
											</div>
										</div>
									</div>

									<ng-container *ngIf="(dateStart | date: 'H:mm') !== '0:00' && (dateFinish | date: 'H:mm') !== '23:59' ">
										<div class="col-12 col-md-12">
											<div class="row">
												<div class="col-6">
													<h3 class="text-black ml-2 text-md-right text-left">Start Time</h3> 
												</div>
												<div class="col-6">
													<span>{{ dateStart | date: "h:mm a" }}</span>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-12">
											<div class="row">
												<div class="col-6">
													<h3 class="text-black ml-2 text-md-right text-left">End Time</h3> 
												</div>
												<div class="col-6">
													<span>{{ dateFinish | date: "h:mm a" }}</span>
												</div>
											</div>
										</div>
									</ng-container>

									<div class="col-12 col-md-12">
										<div class="row">
											<div class="col-6">
												<h3 class="text-black ml-2 text-md-right text-left">Target Audience</h3> 
											</div>
											<div class="col-6">
												<span>{{ targetAudience }}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-4 ox--card-without-header-wrapper">
		<div class="ox--card-without-header">
			<div class="row ox--event-invited-reporters">
				<div class="card-title text-black title-dashboard">
					Reporters Overview
					<span placement="top" [ngbTooltip]="tooltipTexts.overviewReporters" class="ox--dashboard-tooltip-wrapper">
						<i data-feather="info" class="mr-25 ox--dashboard-tooltip"></i>
					</span>
				</div>
				<div class="card-body">
					<app-invited-reporters
						[reported]="reported"
						[invited]="invited"
					></app-invited-reporters>
				</div>
			</div>
		</div>
	</div>
</div>
