.title-report {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 0;
}

.number-report {
	font-weight: 700;
	font-size: 20px;
	color: #000;
}

.ox--reporters-info-percentages {
	margin-top: 5px;
}
