<div class="row mx-0 ox--reporters-info-percentages">
	<div class="col-6">
		<p class="card-text title-report">UN-REPORTERED</p>
		<h3 class="number-report">{{ unreporteredValue }}%</h3>

		<p class="card-text title-report">REPORTED</p>
		<h3 class="number-report">{{ reportedValue }}%</h3>
	</div>
	<div class="col-6">
		<apx-chart
			[chart]="chartOpt"
			[series]="series"
			[colors]="colors"
			[plotOptions]="plotOptions"
			[stroke]="stroke"
			[labels]="labels"
		></apx-chart>
	</div>
	<div class="col-12">
		<small>
			{{ reportedVsUnreportered }}
		</small>
	</div>
</div>