<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <form action="#" class="invoice-repeater">
              <div>
                <div class="row d-flex justify-content-between">
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="itemName"
                        [(ngModel)]="searchItem"
                        (ngModelChange)="search()"
                        id="itemName"
                        placeholder="Search profile"
                        autocomplete="off"
                      />
                    </div>
                  </div>

                  <div class="col-md-4 col-12 text-right">
                    <button class="btn btn-icon btn-primary" type="button" (click)="modalOpen('create', null)" rippleEffect>
                      <i data-feather="plus" class="mr-25"></i>
                      <span>Add New</span>
                    </button>
                  </div>
                </div>
                
                <hr />
              </div>
            </form>
          </div>
          
          <div class="table-responsive">
            <table class="table table-hover-animation">
              <thead>
                <tr>
                  <th>Profile</th>
                  <th>Status</th>
                  <th>Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="profiles && profiles.length > 0; else noRegisters">
                  <tr *ngFor="let profile of profiles">
                    <td>{{ profileTypes[profile.name] | titlecase }}</td>
                    <td>{{ profile.status }}</td>
                    <td>{{ profile.createdAt | date: 'yyyy-MM-dd hh:mm:ss' }}</td>
                    <td class="overflow-hidden">
                      <div ngbDropdown container="body">
                        <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                          <i data-feather="more-vertical"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <a ngbDropdownItem href="javascript:void(0);" (click)="modalOpen('edit', profile.id)"
                            ><i data-feather="edit-2" class="mr-50"></i><span>Edit</span></a
                          ><a ngbDropdownItem href="javascript:void(0);" (click)="modalOpen('delete', profile.id)"
                            ><i data-feather="trash" class="mr-50"></i><span>Delete</span></a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noRegisters>
                  <tr>
                    <td colspan="4" class="text-center">
                      There are no registers
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>

          <app-pagination
            [pagination]="pagination"
            (paginate)="paginate($event)"
            *ngIf="profiles && profiles.length > 0"
          ></app-pagination>
        </div>
      </div>
    </div>

  </div>
</div>

<app-modal (modalStatus)="changeModalStatus($event)">

  <ng-container [formGroup]="formProfile">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 mb-1">
        <div class="form-group">
          <label for="profile_name">Name</label>
          <input type="text" class="form-control" id="profile_name" formControlName="name" placeholder="Enter name" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="profile_status">Status</label>
          <select class="form-control" id="profile_status" formControlName="status">
            <option *ngFor="let status of profileStatus" value="{{ status.value }}" [selected]="formProfile.get('status').value === status.value">{{ status.value }}</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>

</app-modal>