.card-body {
  padding: 1.2rem;
}

.card .card-title {
  color: #000;
  margin-bottom: 0.3rem;
}

.card p {
  color: #55646B;
}

.ox--btn-new-project-wrapper {
  padding-top: 1px !important;
}

.onxite--project {
  cursor: pointer;
  height: 315px;
  position: relative;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;

  .card-img-top {
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .onxite--tile-options {
    background-color: #676767c4;
    border-radius: 4px;
    opacity: 0;
    padding: 8px 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
  
    a {
      color: #d8d8d8;
      display: inline-block;
      text-align: center;
      height: 25px;
      width: 30px;
      transition: .3s ease-in-out;
      -webkit-transition: .3s ease-in-out;

      &:nth-of-type(2) {
        text-align: right;
      }
    }

    a:hover {
      color: #A9FF01;
    }
  }

  &:hover .onxite--tile-options {
    opacity: 1;
  }

  .card-body {
    background-color: #fff;
    border-radius: 0px 0px 0.428rem 0.428rem;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.onxite--project:hover {
  transform: scale(1.04);
}


table.ox--projects {
  tr {
    th:first-of-type {
      width: 90px;
    }

    th:last-of-type {
      width: 120px;
    }
  }
}

.ox--default-image {
  img {
    border-bottom: 1px solid #00000061;
    height: auto !important;
    margin: 0 auto;
    opacity: 0.2;
    padding: 44px 60px;
  }
}

.ox--row-default-image {
  img {
    opacity: 0.5;
  }
}

.ox--default-image-edit {
  background-color: #dbdcdd;
  border-radius: 5px;
  padding: 20px;
}

.custom-file {
  small {
    i {
      display: block;
      font-size: 0.8rem;
      line-height: 1.2;
      padding-top: 5px;
    }
  }
}

.ox--cursor-pointer {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .ox--btn-new-project-wrapper {
    button {
      margin-top: 10px;
      width: 100% !important;
    }
  }
}