<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <div class="onxite--brand-logo ">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo"/>
    </div>
    <!-- Login v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="login-email" class="form-label">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="john@example.com"
              aria-describedby="login-email"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="4" rippleEffect>Sign in</button>
        </form>

      </div>
    </div>
    <!-- /Login v1 -->
  </div>
</div>
