<div class="content-wrapper ox--welcome-wrapper container-xxl">
  <div class="content-body">
    <div class="row justify-content-center">
      <div class="col-12">

        <div class="ox--welcome-header">
          <div class="ox--project-logo">
            <ng-container>
              <div class="ox--image-wrapper" *ngIf="eventType && eventType.projectImage; else onlyTitle">
                <img [src]="imageContainer + '/projects/' + eventType.projectImage" alt="{{ eventType.projectName }} image" />
              </div>
            </ng-container>
            <ng-template #onlyTitle>
              <div class="ox--title-wrapper">
                <h2>
                  {{ eventType?.projectName }}
                </h2>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="ox--welcome-section-1">
          <span class="ox--eye-icon">
            <img src="/assets/images/icons/icon-eye-dark-t.svg" alt="">
          </span>
          <h3>
            {{ welcomeText }}
          </h3>
        </div>
      </div>

      <div class="col-12">
        <div class="ox--welcome-section-2">
          <div class="ox--event-details" *ngIf="eventType">
            <h4>Event Details:</h4>
            <div>
              <span>Name:</span><span>{{ eventType.eventName }}</span>
            </div>
            <div>
              <span>Location:</span><span>{{ eventType?.eventLocation }}</span>
            </div>
            <div>
              <ng-container *ngIf="(eventType.eventStartDate | date: 'MM/dd/YYYY') !== (eventType.eventEndDate | date: 'MM/dd/YYYY'); else sameDay">
                <span>Date:</span><span>{{ eventType.eventStartDate | date: "MM/dd/YYYY" }} - {{ eventType.eventEndDate | date: "MM/dd/YYYY" }}</span>
              </ng-container>

              <ng-template #sameDay>
                <span>Date:</span><span>{{ eventType.eventStartDate | date: "MM/dd/YYYY" }}</span>
              </ng-template>
            </div>
            <div *ngIf="(eventType.eventStartDate | date: 'H:mm') !== '0:00' && (eventType.eventEndDate | date: 'H:mm') !== '23:59'">
              <span>Time:</span><span>{{ eventType.eventStartDate | date: "h:mm a" }} - {{ eventType.eventEndDate | date: "h:mm a" }}</span>
            </div>
          </div>
          <div class="ox--survey-facts">
            <h4>Survey Instructions</h4>
            <span>Facts:</span>
            <ul>
              <li>{{ surveyType === 'extended' ? '6' : '2' }} minutes to complete.</li>
              <li>Survey expires after event ends.</li>
              <li>Once completed, it cannot be changed.</li>
            </ul>
          </div>
          <div class="ox--survey-steps">
            <span>Survey Steps:</span>
            <ol>
              <li>Validate/Comment on Assets.</li>
              <li>Validate Objectives of events.</li>
              <li>Upload pics.</li>
              <li>Provide feedback, Comment/Suggest.</li>
            </ol>
          </div>
          <p>Questions: <a href="mailto:{{ supportEmail }}">{{ supportEmail }}</a></p>
        </div>
      </div>

      <div class="col-12">
        <div class="ox--welcome-footer">
          <div class="row">
            <div class="col-6">
              <div class="ox--brand-logo">
                <span>
                  Powered by <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" />
                </span>
              </div>
            </div>
            <div class="col-6">
              <span class="ox--start-survey-btn" (click)="startSurvey()">Start survey</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
