.onxite--login-bg {
  background-image: none;
  background-color: #000 !important;
  overflow: hidden;
  min-height: 100vh !important;

  &::after {
    background-image: url('/assets/images/icons/vector-green.svg');
    background-position: center;
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.ox--welcome-wrapper {
  padding: 15px 35px;
  max-width: 800px;

  .ox--welcome-header {
    .ox--project-logo {
      .ox--image-wrapper {
        padding-bottom: 20px;
        position: relative;
        width: 100px;
        z-index: 5;
    
        img {
          width: 100%;
        }
      }
    }
  }

  .ox--welcome-section-1 {
    span {
      display: block;
      margin: 20px 0 35px 0;
      width: 100px;

      img {
        width: 100%;
      }
    }

    h3 {
      color: #A9FF01;
      font-weight: bold;
      margin-bottom: 30px;
    }
  }

  .ox--welcome-section-2 {
    h4 {
      color: #A9FF01;
      font-weight: bold;
    }

    .ox--event-details {
      margin-bottom: 20px;

      span {
        display: inline-block;
      }

      & div > span:first-of-type {
        margin-right: 5px;
      }
    }

    span {
      color: #fff;
      display: block;
      margin-bottom: 5px;
    }

    ul, ol {
      padding-left: 15px;

      li {
        color: #fff;
        margin-bottom: 2px;
      }
    }

    p {
      margin-top: 25px;
    }

    p, a {
      color: #929292;
    }

    a {
      position: relative;
      z-index: 4;
    }
  }

  .ox--welcome-footer {
    padding: 40px 0 0 0;

    .ox--brand-logo {
      span {
        font-size: 0.8rem;
  
        img {
          vertical-align: baseline;
          width: 50px;
        }
      }
    }

    div.col-6:nth-of-type(2) {
      text-align: right;
    }

    .ox--start-survey-btn {
      border: 1px solid #A9FF01;
      border-radius: 4px;
      color: #A9FF01;
      cursor: pointer;
      padding: 5px 10px;
      position: relative;
      z-index: 4;
    }
  }
}

@media only screen and (max-width: 992px) {
  .content {
    &.onxite--login-bg {
      padding: 0 0 0 0!important;
      background-position-y: 100%;
    }
  }
}