.ngb-toasts {
  max-width: 280px;
  width: 100%;

  .toast {
    background-color: rgb(255 255 255);
  }

  .toast-header {
    svg {
      height: 35px;
      width: 25px;
    }

    .toast-title {
      margin-left: 10px;
    }
  }
  
}