
<div
  class="ox--asset-wrapper-image"
  style="background-image: url('{{ url }}');"
  [ngClass]="wasView ? 'ox--check-asset' : null"
  (click)="openAssetModal()">
</div>

<div class="ox--asset-info">
  <div class="ox--asset-comments-quantity">
    <img [src]="'/assets/images/icons/icon-comments.svg'" alt="Comments quantity">
    <span *ngIf="commentsQuantity > 0">{{ commentsQuantity }}</span>
  </div>
  <div class="ox--asset-objective-approved" [ngClass]="objectiveApplied ? 'ox--thumbs-green' : null">
    <span data-feather="thumbs-up"></span>
  </div>
  <div class="ox--asset-samples-percentage">
    <div class="progress-wrapper" [ngClass]="samplesQuantityAverage > samplesQuantity ? 'ox--progress-oversize' : null">
      <ngb-progressbar [value]="samplesPercentage"></ngb-progressbar>
      <span>{{ samplesQuantityAverage }}/{{ samplesQuantity }}</span>
    </div>
  </div>
</div>
