.ox--asset-wrapper {
  max-height: 800px;

  .card {
    padding-bottom: 20px;
  }

  .ox--assets {
    max-height: 600px;

    .ox--asset-wrapper-image {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 8px;
      cursor: pointer;
      height: 225px;
      margin: 0 auto;
      width: 225px;

      &.ox--check-asset::after {
        background-image: url('/assets/images/icons/check-asset.svg');
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        display: block;
        height: 25px;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 25px;
      }
    }

    .ox--asset-info {
      padding: 10px 10px;
      
      .ox--asset-comments-quantity,
      .ox--asset-objective-approved {
        display: inline-block;
        padding: 0 10px;
        vertical-align: top;
        width: 20%;
      }

      .ox--asset-comments-quantity {
        position: relative;

        span {
          background-color: #9747FF;
          border-radius: 50%;
          color: #fff;
          display: inline-block;
          font-size: 0.5rem;
          height: 16px;
          margin-right: 16px;
          padding-top: 3px;
          position: absolute;
          right: -7px;
          text-align: center;
          top: -3px;
          vertical-align: top;
          width: 15px;
        }
      }

      .ox--asset-objective-approved {
        &.ox--thumbs-green {
          svg {
            fill: #A9FF01;
          }
        }

        svg {
          height: 25px;
          stroke: #424B5A;
          width: 25px;
        }
      }

      .ox--asset-samples-percentage {
        display: inline-block;
        padding-left: 20px;
        width: 50%;
      
        .progress-wrapper {
          .progress {
            border-radius: 0;
            height: 0.4rem;
      
            .progress-bar {
              background-color: #A9FF01;
      
              &:last-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
            }
          }
      
          &.ox--progress-oversize {
            .progress {
              .progress-bar {
                background-color: #9747FF;
              }
            }
          }
      
          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ox--asset-wrapper {
    .ox--assets {
      .ox--asset-wrapper-image {
        height: 150px;
        width: 150px;
      }
    }
  }
}