app-dashboard {
	max-width: 1080px;
	margin: 0 auto;
	display: block;
	overflow: hidden;

	h2, h3, h4, b, .title-dashboard {
		color: #000 !important;
		font-weight: bold !important;
	}

	.attendance-card.title-dashboard {
		max-width: 90%;
	}
}

.ox--dashboard-tooltip-wrapper {
	display: inline-block !important;
	vertical-align: bottom;

	.ox--dashboard-tooltip {
		cursor: pointer;
	}
}

.ox--frequency-tooltip {
	font-size: 12px !important;
}

.ox--card-dashboard {
	.card-body:not(.ox--cpmi-roei-card, .ox--assets, .ox--comments) {
		height: 380px !important;
	}

	.ox--cpmi-roei-card {
		min-height: 110px !important;
	}
}

.ox--comments-wrapper {
	.title-dashboard {
		width: 95%;

		& > span {
			display: inline-block;
		}

		span:first-of-type {
			font-size: 1.285rem;
			margin-right: 50px;
			width: 25%;
		}

		span:last-of-type {
			width: 60%;
		}
	}
}

.ox--asset-wrapper {
	.card-header {
		.heading-elements {
			top: -55px;
		}
	}
}

.card-body.row {
	height: auto !important;
}

.dashboard-overflow {
	overflow-y: auto;
}

.title-dashboard {
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;

	p {
		color: #55646B;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 15px;
	}

	span {
		display: block;
	}

	span:nth-of-type(1) {
		font-size: 1.1rem;
	}

	span:nth-of-type(2) {
		font-size: 1.4rem;
    font-weight: bold;
    margin-top: 8px;
	}
}

.ox--content-title {
	margin-bottom: 20px;

	span {
		display: inline-block;
	}

	span:first-of-type {
		color: #000;
    font-weight: bold;
    font-size: 1.1rem;
		width: 50%;
	}

	span:last-of-type {
		width: 50%;
	}
}

html body {
	background-color: #f8f8f8;
}

.ox--event-dashboard {
	&.ox--spinner-wrapper {
		padding: 0 50px;
		margin-top: 20%;
		text-align: center;

		.spinner-border {
			border-width: 0.15em;
			height: 1.4rem !important;
			width: 1.4rem !important;
		}

		.progress-wrapper {
			margin-top: 15px;

			.progress-bar {
				background-color: #a9ff01c4 !important;
			}

			.progress {
				box-shadow: 0px 0px 4px 0px #0000005c;
				margin-bottom: 30px;
				
				&.error-loading {
					.progress-bar {
						background-color: #ff0101ad !important;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {

	.ox--asset-wrapper {
		.card-header {
			.heading-elements {
				right: -290px;
				top: -155px;
			}
		}
	}

	.ox--comments-wrapper {
		.card-header {
			.heading-elements {
				top: -25px;
			}
		}

		.title-dashboard {
			& > span {
				display: inline-block;
			}
	
			span:first-of-type {
				width: 100%;
			}
	
			span:last-of-type {
				width: 100%;
			}
		}
	}
}