<ng-container *ngIf="event; else loadingData">
	<div id="pdfReport" #pdfReport>
		<app-header
			*ngIf="event"
			class="ox--header-container"
			[projectImage]="event.projectImage"
			[projectTitle]="event.project"
			[eventGroupTitle]="event.eventGroupName"
			[eventClient]="event.client"
			[eventReportUrl]="eventReportUrl"
			[contReporters]="event.totalReporters"
			[isPublic]="isPublic"
			[eventId]="eventId"
			[enableSavingTemporary]="enableSavingTemporary"
			(saveReportToPdf)="downloadAsPDF($event)"
		>
		</app-header>
		<app-dashboard-description
			[eventName]="event.name"
			[eventCreatedBy]="event.createdBy"
			[eventClient]="event.client"
			[eventAgency]="event.agency"
			[eventBudget]="event.budget"
			[eventInvestment]="event.investment"
			[eventRatio]="event.ratio"
			[group]="event.eventGroup"
			[objetive]="event.objetive"
			[budget]="event.budget"
			[eventType]="event.eventType"
			[location]="event.location"
			[dateStart]="event.dateStart"
			[dateFinish]="event.dateFinish"
			[targetAudience]="event.attendanceExpectedPerTarget[0].name"
			[reported]="event.reportersAttended"
			[invited]="event.totalReporters"
		></app-dashboard-description>
		<div class="row">
			<!-- First column -->
			<div class="col-12 col-md-6">
				<div class="row">
					<!-- Card 1 -->
					<div class="col-12 order-1">
						<core-card [actions]="['collapse']">
							<div class="card-title text-black title-dashboard attendance-card">Attendance {{ event.name }}</div>
							<app-attendance
								[eventName]="event.name"
								[dateStart]="event.dateStart"
								[targets]="event.attendanceExpectedPerTarget"
								[attendanceExpected]="event.attendance"
								[attendanceActuals]="event.actuals"
								[attendancePercentage]="event.percentageActualsVsExpected"
								[attendanceToDate]="event.toDate"
							></app-attendance>
						</core-card>
					</div>

					<!-- Card 2 -->
					<div class="col-12 order-3">
						<core-card [actions]="['collapse']">
							<div class="card-title text-black title-dashboard">CPMI - ROEI</div>
							<div class="card-body dashboard-overflow ox--cpmi-roei-card">
								<app-cpmi-roei
									[projectImage]="event.projectImage"
									[cpmi]="event.cpmi"
									[roei]="event.roei"
								></app-cpmi-roei>
							</div>
						</core-card>
					</div>

					<!-- Card 3 -->
					<div class="col-12 order-5">
						<core-card [actions]="['collapse']" class="ox--comments-wrapper">
							<div class="card-title text-black title-dashboard">
								<span>
									Comments
								</span>
								<span>
									<select class="form-control" [(ngModel)]="reporterSelected">
										<option [ngValue]="null">Reporter</option>
										<option [ngValue]="reporter.id" *ngFor="let reporter of reportersList">{{ reporter.fullname }}</option>
									</select>
								</span>
							</div>
							<div class="card-body dashboard-overflow ox--comments">
								<ng-container *ngFor="let comment of reporterComments">
									<app-comment
										[reporter]="comment.reporterName"
										[date]="comment.date"
										[images]="comment.images"
										[surveyType]="comment.surveyType"
										*ngIf="reporterSelected === comment.reporterId || !reporterSelected"
									></app-comment>
								</ng-container>
							</div>
						</core-card>
					</div>
				</div>
			</div>

			<!-- Second column -->
			<div class="col-12 col-md-6">
				<div class="row">
					<!-- Card 1 -->
					<div class="col-12 order-2">
						<core-card [actions]="['collapse']">
							<div class="card-title text-black title-dashboard">
								Frequency
								<span placement="top" [ngbTooltip]="frequencyTooltip" class="ox--dashboard-tooltip-wrapper">
									<i data-feather="info" class="mr-25 ox--dashboard-tooltip"></i>
								</span>
							</div>
							<div class="card-body dashboard-overflow">
								<app-frequency
									[allEvents]="event.allEvents"
									[eventsActivated]="event.eventsActivated"
									[allAssets]="event.allAssets"
									[assetsActivated]="event.assetsActivated"
									[impressionsByEvent]="event.impressionsByEvent"
									[impressions]="event.impressions"
									[totalImpressions]="event.totalImpressions"
									[projectedImpressions]="event.projectedImpressions"
									[samples]="event.samples"
									[objetive]="event.objetive"
									[secondaryObjetive]="event.secondaryObjetive"
									[objetiveTooltip]="tooltipTexts.objetive"
								></app-frequency>
							</div>
						</core-card>
					</div>

					<!-- Card 2 -->
					<div class="col-12 order-4">
						<core-card [actions]="['collapse']">
							<div class="card-title text-black title-dashboard">
								Total Reporters take - Target
							</div>
							<div class="card-body ox--total-reporters">
								<app-total-reporters
									[colors]="colors"
									[series]="series"
									[labels]="labels"
									[total]="total"
									[eventAttendance]="event.attendance"
									[targets]="event.attendanceExpectedPerTarget"
								>
								</app-total-reporters>
							</div>
						</core-card>
					</div>

					<!-- Card 3 -->
					<div class="col-12 order-6">
						<core-card [actions]="['collapse']" class="ox--asset-wrapper">
							<div class="card-title text-black title-dashboard">
								Asset Validation & Feedback
								<p>
									Inventory of available assets for activation <br>
									Assets are grouped by onsite assets & media supporting assets
								</p>
								<span>Reporter's Verified Assets</span>
								<span>{{ event.totalReportersExtendedAttended }}/{{ event.totalReportersExtended }}</span>
							</div>
							
							<div class="card-body dashboard-overflow ox--assets">
								<div class="ox--content-title">
									<span>Un-plugged Assets</span>
									<span>
										<select class="form-control" [(ngModel)]="objectiveSelected">
											<option [ngValue]="''">Asset Objective</option>
											<option [ngValue]="objective" *ngFor="let objective of objectivesList">{{ objective | titlecase }}</option>
										</select>
									</span>
								</div>
								<div class="row mr-0 mx-0" >
									<ng-container *ngFor="let asset of event.brandAssets">
										<app-asset
											class="col-6 mr-0 mx-0 p-0"
											[type]="asset.type"
											[url]="imageContainer + '/event-assets/' + asset.url"
											[description]="asset.description"
											[objective]="asset.objective"
											[objectiveApplied]="asset.objectiveApplied"
											[samplesQuantity]="asset.samplesQuantity"
											[wasView]="asset.wasView"
											[reporterComments]="asset.comments"
											[samplesQuantityAverage]="asset.samplesQuantityAverage"
											[commentsQuantity]="asset.commentsQuantity"
											*ngIf="objectiveSelected === asset.objective || objectiveSelected === ''"
										></app-asset>
									</ng-container>
								</div>
							</div>
						</core-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<ng-template #loadingData>
	<div class="ox--spinner-wrapper ox--event-dashboard">
		<h4>
			<div class="spinner-border mr-50" style="width: 3rem; height: 3rem" role="status"></div> 
			Loading information, please wait...
		</h4>
		<div class="progress-wrapper">
			<ngb-progressbar
				id="ox--progress-bar"
				type="success"
				[value]="progressBarValue"
				[striped]="true"
				[animated]="true"
				[height]="progressbarHeight"
			></ngb-progressbar>
		</div>
	</div>
</ng-template>

<ng-template #frequencyTooltip>
	<span class="ox--frequency-tooltip">
		Number of events activated under the same Event Group. <br>
		Number of assets activated in each event. <br>
		Total number of impressions based on assets activated and total average attendance.
	</span>
</ng-template>

<app-asset-modal></app-asset-modal>
<app-comments-modal></app-comments-modal>