.ox--total-reporters {
  .apexcharts-legend-series {
    margin: 2px 15px !important;
  }
  
  .apexcharts-text {
    &.apexcharts-datalabel-label {
      font-size: 0.9rem;
      fill: #000 !important;
    }
    
    &.apexcharts-datalabel-value {
      font-size: 1.5rem !important;
      font-weight: bold;
      transform: translateY(-8px);
    }
  }
}