<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <form action="#" class="invoice-repeater">
              <div>
                <div class="row d-flex justify-content-between">
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="itemName"
                        [(ngModel)]="searchItem"
                        (ngModelChange)="search()"
                        id="itemName"
                        placeholder="Search user"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                </div>
                
                <hr />
              </div>
            </form>
          </div>
          
          <div class="table-responsive">
            <table class="table table-hover-animation">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Controller</th>
                  <th>Method</th>
                  <th>Detail</th>
                  <th>IP</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="activities && activities.length > 0; else noRegisters">
                  <tr *ngFor="let activity of activities">
                    <td>{{ activity.user.email }}</td>
                    <td>{{ activity.controller }}</td>
                    <td>{{ activity.method }}</td>
                    <td>{{ activity.detail }}</td>
                    <td>{{ activity.ip }}</td>
                    <td>{{ activity.createdAt | date: 'yyyy-MM-dd hh:mm:ss' }}</td>
                  </tr>
                </ng-container>
                <ng-template #noRegisters>
                  <tr>
                    <td colspan="6" class="text-center">
                      There are no registers
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>

          <app-pagination
            [pagination]="pagination"
            (paginate)="paginate($event)"
            *ngIf="activities && activities.length > 0"
          ></app-pagination>
        </div>
      </div>
    </div>

  </div>
</div>
