<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <form action="#" class="invoice-repeater">
              <div>
                <div class="row d-flex justify-content-between">
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="itemName"
                        [(ngModel)]="searchItem"
                        (ngModelChange)="search()"
                        id="itemName"
                        placeholder="Search reporter"
                        autocomplete="off"
                      />
                    </div>
                  </div>

                  <div class="col-md-4 col-12 text-right">
                    <button class="btn btn-icon btn-primary" type="button" (click)="modalOpen('create', null)" rippleEffect>
                      <i data-feather="plus" class="mr-25"></i>
                      <span>Add New</span>
                    </button>
                  </div>
                </div>
                
                <hr />
              </div>
            </form>
          </div>
          
          <div class="table-responsive">
            <table class="table table-hover-animation">
              <thead>
                <tr>
                  <th>Fullname</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Organization</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="reporters && reporters.length > 0; else noRegisters">
                  <tr *ngFor="let reporter of reporters">
                    <td>{{ reporter.name }}</td>
                    <td>{{ reporter.email }}</td>
                    <td>{{ reporter.phone }}</td>
                    <td>{{ reporter.organization }}</td>
                    <td>{{ reporter.status }}</td>
                    <td class="overflow-hidden">
                      <div ngbDropdown container="body">
                        <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                          <i data-feather="more-vertical"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <a ngbDropdownItem href="javascript:void(0);" (click)="modalOpen('edit', reporter.id)" 
                            ><i data-feather="edit-2" class="mr-50"></i><span>Edit</span></a
                          ><a ngbDropdownItem href="javascript:void(0);" (click)="modalOpen('delete', reporter.id)" 
                            ><i data-feather="trash" class="mr-50"></i><span>Delete</span></a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noRegisters>
                  <tr>
                    <td colspan="6" class="text-center">
                      There are no registers
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>

          <app-pagination
            [pagination]="pagination"
            (paginate)="paginate($event)"
            *ngIf="reporters && reporters.length > 0"
          ></app-pagination>
        </div>
      </div>
    </div>

  </div>
</div>

<app-modal (modalStatus)="changeModalStatus($event)">

  <ng-container [formGroup]="formReporter">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 mb-1">
        <div class="form-group">
          <label for="reporter_name">Fullname<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="reporter_name" formControlName="name" placeholder="Enter name" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-12 col-md-12 col-12 mb-1">
        <div class="form-group">
          <label for="reporter_email">Email<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="reporter_email" formControlName="email" placeholder="Enter email" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 col-6 mb-1">
        <div class="form-group">
          <label for="reporter_phone">Phone</label>
          <input inputmode="decimal" pattern="[0-9]*" type="text" class="form-control" id="reporter_phone" formControlName="phone" placeholder="Enter phone" autocomplete="off" appOnlyNumbers/>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 col-6 mb-1">
        <div class="form-group">
          <label for="reporter_organization">Organization<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="reporter_organization" formControlName="organization" placeholder="Enter organization" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="reporter_status">Status</label>
          <select class="form-control" id="reporter_status" formControlName="status">
            <option *ngFor="let status of reporterStatus" value="{{ status.value }}" [selected]="formReporter.get('status').value === status.value">{{ status.value }}</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>

</app-modal>