<div class="content-wrapper container-xxl p-0">
  <div class="content-body" [ngClass]="'ox--theme-' + themeStyle">
    <button (click)="changeTheme()" style="display: none;">Change Theme</button>
    <div class="row justify-content-center">

      <div class="col-12 col-md-6" *ngIf="survey">

        <div class="ox--survey-wizard">
          <div class="ox--wizard-header">
            <div class="ox--project-logo">
              <ng-container>
                <div class="ox--image-wrapper" *ngIf="projectData.image; else onlyTitle">
                  <img [src]="imageContainer + '/projects/' + projectData.image" alt="{{ projectData.name }} image" />
                </div>
              </ng-container>
              <ng-template #onlyTitle>
                <div class="ox--title-wrapper">
                  <h2>
                    {{ projectData.name }}
                  </h2>
                </div>
              </ng-template>
            </div>
            <div class="ox--wizard-steps-indicator">
              <div class="progress-wrapper" [ngClass]="currentStep === steps ? 'ox--bar-full' : null">
                <ngb-progressbar [value]="currentStep === steps ? 100 : (100 / steps) * currentStep"></ngb-progressbar>
              </div>
            </div>
          </div>

          <div class="ox--wizard-content">
            <form [formGroup]="formSurvey">
              <div class="ox--wizard-steps" *ngFor="let category of survey.categories; let catIndex = index"
                formGroupName="category_{{ catIndex }}">
                <div class="ox--steps" [ngClass]="(catIndex + 1) === currentStep ? 'ox--step-visible' : null">

                  <!-- Init categories -->
                  <h4>{{ category.name === 'Assets verification for key stakeholders' ? 'Assets verification' : category.name }}</h4>
                  <span class="ox--complete-survey-btn" [ngClass]="isSavingSurvey ? 'ox--disable-end-btn' : null"
                    (click)="submit()"
                    *ngIf="currentStep === steps">{{ isSavingSurvey ? 'Saving...' : 'Complete survey' }}</span>
                  <p class="ox--step-description" *ngIf="category.name !== 'Feedback' || preloadImage">
                    {{ category.description }}</p>

                  <!-- Init questions -->
                  <ng-container formGroupName="questions">

                    <div class="row" *ngFor="let question of category.questions; let qIndex = index">
                      <ng-container formGroupName="question_{{ qIndex }}">
                        <div class="col-12 col-md-12" *ngIf="!question.useAnswerName && !category.behaviour">
                          <label class="ox--step-question"
                            *ngIf="category.name !== 'Feedback' || preloadImage">
                            {{ question.name }}
                            <span class="ox--question-name-desc" *ngIf="category.name === 'Capacity'">Expected attendance: [{{ eventData.expectedAttendance }}]</span>
                          </label>
                            
                        </div><br><br>

                        <!-- Init questions type -->
                        <ng-container
                          *ngIf="question.questionType.name === 'Multiple selection' || question.questionType.name === 'Unique selection' && !category.behaviour"
                          formGroupName="options">

                          <div class="col-12 col-md-12" *ngFor="let option of question.options; let oIndex = index"
                            formGroupName="option_{{ oIndex }}">

                            <!-- Init switch options display type -->
                            <div class="row" [ngSwitch]="option.displayType">

                              <div class="col-12 col-md-6" *ngSwitchCase="'BUTTONS'">
                                <span *ngFor="let value of option.values">
                                  <ng-container *ngIf="value.type === 'ICON'; else buttonType">
                                    <span [data-feather]="value.icon"></span>
                                  </ng-container>

                                  <ng-template #buttonType>
                                    <button [ngClass]="'prevent-select button_' + value.name.toLowerCase()"
                                      (click)="option.triggerQuestion ? displayHideQuestion(option.triggerQuestion, value.triggerQuestion, 'category_' + catIndex, 'question_' + qIndex) : null">{{ value.name }}</button>
                                  </ng-template>
                                </span>
                              </div>

                              <div class="col-12 col-md-12" *ngSwitchCase="'DATA'">
                                <span
                                  [ngClass]="category.name === 'Assets verification' ? 'ox--step-question' : 'ox--target-title'">
                                  {{ option.name }}
                                  <span class="ox--question-name-desc" *ngIf="category.name === 'Target audience'">Expected [{{ (eventData.expectedAttendance * option.expectedAttendance) / 100 | number: '1.0-0' }}] in attendance</span>
                                </span>

                                <!-- Init options type -->
                                <div *ngIf="option.optionType.name === 'Slider'" class="ox--wizard-slider">
                                  <nouislider formControlName="value" [config]="configSliderTargetOptions"></nouislider>
                                </div>

                                <div class="row ox--images-wrapper" *ngIf="option.optionType.name === 'Images'">
                                  <div class="col-3" *ngFor="let asset of option.assets; let oaIndex = index">
                                    <div
                                      *ngIf="question.questionConfig && question.questionConfig.name === 'maximum' && (isSurveyExtended ? true : oaIndex < question.questionConfig.value)">
                                      <span class="ox--image-thumbnail"
                                        [ngClass]="this.assetsIdsSelected.includes(asset.id) ? 'ox--asset-selected' : null"
                                        [style]="'background: url('+ imageContainer + '/event-assets/' + asset.name + ');'"
                                        (click)="selectAssets(asset, 'category_' + catIndex,  'question_' + qIndex)">
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <!-- End options type -->

                              </div>

                            </div>
                            <!-- End switch options display type -->

                            <div [id]="'trigger_question_' + option.triggerQuestion.id" *ngIf="option.triggerQuestion"
                              style="display: none;">
                              <label class="ox--step-question">
                                {{ option.triggerQuestion.name }}
                                <span class="ox--question-name-desc" *ngIf="category.name === 'Capacity'">Expected attendance: [{{ (eventData.expectedAttendance * formSurvey.get('category_' + catIndex + '.questions' + '.question_' + qIndex + '.options' + '.option_' + oIndex + '.value').value) / 100 | number: '1.0-0' }}]</span>
                              </label>

                              <div *ngFor="let triggerOption of option.triggerQuestion.options">
                                <!-- Init trigger options type -->
                                <div *ngIf="triggerOption.optionType && triggerOption.optionType.name === 'Slider'"
                                  class="ox--wizard-slider">
                                  <nouislider formControlName="value" [config]="configSliderCapacityOptions"></nouislider>
                                </div>
                                <!-- End trigger options type -->
                              </div>
                            </div>

                          </div>

                        </ng-container>

                        <ng-container *ngIf="question.questionType.name === 'Upload image'" formGroupName="options">

                          <ng-container *ngFor="let feedback of maxFeedbackImages; let fIndex = index"
                            formGroupName="option_{{ fIndex }}">
                            <div id="ox--feedback-section_{{ fIndex }}" class="col-12 ox--feedback-section"
                              [ngClass]="fIndex !== 0 ? 'ox--hide-section' : null">
                              <ng-container
                                *ngIf="!formSurvey.get('category_'+ catIndex + '.questions.question_'+ qIndex +'.options.option_'+ fIndex + '.value').value else commentPhoto">
                                <label for="image_{{ fIndex }}" class="ox--image-upload-square"
                                  *ngIf="!feedbackImages[fIndex]"></label>

                                <label for="image_{{ fIndex }}" class="ox--image-preview">
                                  <img [src]="feedbackImages[fIndex]" alt="feedback image preview"
                                    *ngIf="feedbackImages[fIndex]">
                                  <div class="progress-wrapper" *ngIf="isUploadingImage">
                                    <ngb-progressbar [value]="progressBarValue" [striped]="true" [animated]="true"
                                      [height]="progressbarHeight"></ngb-progressbar>
                                  </div>
                                </label>

                                <input id="image_{{ fIndex }}" type="file" accept="image/*"
                                  (change)="displayImagePreview($event, fIndex)">

                                <button class="ox--upload-image-btn"
                                  [ngClass]="!feedbackImages[fIndex] ? 'upload-disable' : null"
                                  (click)="uploadImage('category_'+ catIndex + '.questions.question_'+ qIndex +'.options.option_'+ fIndex, fIndex)"
                                  [disabled]="isUploadingImage ? true : null">
                                  {{ isUploadingImage ? 'Uploading' : 'Upload' }} </button>
                                <small>
                                  Allowed JPG, GIF or PNG. Max size 800 Kb
                                </small>

                                <div class="ox--feedback-note">
                                  <span>
                                    After uploading all photos, comments will be made to each photo.
                                  </span>
                                </div>
                              </ng-container>
                            </div>

                            <ng-template #commentPhoto>
                              <div class="col-12 ox--feedback-section ox--padding-0">
                                <span class="ox--image-preview">
                                  <img [src]="imageContainer + '/reporter-attachments/' + formSurvey.get('category_'+ catIndex + '.questions.question_'+ qIndex +'.options.option_'+ fIndex + '.value').value" alt="Comment photo" >
                                </span>

                                <label class="ox--step-question">Comments:</label>
                                <textarea style="display: block;" formControlName="comment" cols="30" rows="5"
                                  placeholder="What worked, suggestions, or just like"></textarea>
                              </div>
                            </ng-template>
                          </ng-container>

                        </ng-container>

                        <ng-container *ngIf="question.questionType.name === 'Open' && !category.behaviour">

                          <span style="display: block; width:100%;">{{ question.name }}</span>
                          <input type="text" formControlName="value">

                        </ng-container>
                      </ng-container>

                      <ng-container *ngIf="question.questionType.name === 'Open'">
                        <!-- Init Individually assets qualification -->
                        <ng-container *ngFor="let assetSelected of assetsSelected; let asIndex = index">
                          <div
                            class="ox--asset-selected-wrapper ox--category_{{catIndex}}-question_{{qIndex}} ox--asset_{{asIndex}}" *ngIf="asIndex === currentAssetDisplayed">
                            
                            <span class="ox--image-wrapper">
                              <img [src]="imageContainer + '/event-assets/' + assetSelected.assetName"
                                alt="event asset">
                            </span>
                            <span class="ox--asset-title">{{ assetSelected.assetType | titlecase }}</span>
                            <span class="ox--asset-description">{{ assetSelected.description }}</span>

                            <ng-container *ngFor="let catQuestion of assetQuestions; let cqIndex = index"
                              formGroupName="question_{{ cqIndex }}">
                              <ng-container formGroupName="options">

                                <div class="col-12 col-md-12 ox--padding-0"
                                  *ngFor="let catOption of catQuestion.options; let coIndex = index"
                                  formGroupName="option_{{ asIndex }}">
                                  <div class="col-12 col-md-6 ox--padding-0" *ngIf="'BUTTONS'">
                                    <span class="ox--asset-title">{{ catQuestion.name }}
                                      '{{ assetSelected.assetObjetive | titlecase }}'?</span>
                                    <span *ngFor="let value of catOption.values">
                                      <ng-container *ngIf="value.type === 'ICON'">
                                        <span class="ox--icon-wrapper"
                                          [ngClass]="formSurvey.get('category_' + catIndex + '.questions.question_' + cqIndex + '.options.option_' + asIndex + '.value').value === value.name ? 'ox--active-' + value.name.toLowerCase() : null"
                                          (click)="approveAsset(value.name, assetSelected.assetName, 'category_' + catIndex, cqIndex, asIndex)">
                                          <span [data-feather]="value.icon"></span>
                                        </span>
                                      </ng-container>
                                    </span>
                                  </div>
                                </div>

                                <ng-container *ngIf="catQuestion.questionType.name === 'Open'"
                                  formGroupName="option_{{ asIndex }}">
                                  <span class="ox--asset-title">
                                    {{ catQuestion.name }} ({{ assetSelected.assetType | titlecase }}):
                                    <span class="ox--question-name-desc" *ngIf="category.name === 'Assets verification for key stakeholders'">Expected [{{ assetSelected.expectedNumber }}] of [{{ assetSelected.assetType | titlecase }}]</span>
                                  </span>
                                  <input inputmode="decimal"
                                    pattern="[0-9]*"
                                    type="text"
                                    placeholder="Number"
                                    formControlName="value"
                                    appOnlyNumbers>

                                  <ng-container *ngIf="catQuestion.hasComments">
                                    <span class="ox--asset-title">Comments:</span>
                                    <textarea formControlName="comment" cols="30" rows="5"
                                      placeholder="What worked, suggestions, or just like">Comments</textarea>
                                  </ng-container>
                                </ng-container>

                              </ng-container>
                            </ng-container>
                          </div>
                        </ng-container>
                        <!-- End Individually assets qualification -->
                      </ng-container>
                      <!-- End questions type -->

                    </div>

                  </ng-container>
                  <!-- End questions -->

                  <div *ngIf="category.hasComments">
                    <label class="ox--step-question">Comments:</label>
                    <textarea formControlName="comment" cols="30" rows="5"
                      placeholder="Comment about capacity of event, if sold out or only partial capacity. If there are comments about why it was not or exceeded capacity."></textarea>
                  </div>
                  <br><br><br>
                  <!-- End categories -->

                </div>
              </div>
            </form>
          </div>

          <div class="ox--wizard-footer">
            <div class="row">
              <div class="col-7">
                <div class="ox--wizard-logo">
                  <span>
                    Powered by <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" />
                  </span>
                </div>
              </div>
              <div class="col-5">
                <div class="row ox--wizard-steps-buttons">
                  <div class="col-6">
                    <span class="ox--steppers ox--stepper-back"
                      [ngClass]="currentStep !== 1 ? 'ox--stepper-visible' : null" (click)="wizardStepper('back')">
                      <img
                        [src]="themeStyle === 'dark' ? '/assets/images/icons/icon-back-dark-t.png' : '/assets/images/icons/icon-back-white-t.png'"
                        alt="Back icon">
                    </span>
                  </div>
                  <div class="col-6">
                    <span class="ox--steppers ox--stepper-forward"
                      [ngClass]="currentStep === steps ? 'ox--final-step' : null"
                      (click)="wizardStepper(currentStep === steps ? 'finish' : 'forward')">
                      <img [ngClass]="!isCurrentStepValid ? 'ox--disable-stepper' : null"
                        [src]="themeStyle === 'dark' ? currentStep === steps ? '/assets/images/icons/icon-upload-dark-t.svg' : '/assets/images/icons/icon-forward-dark-t.png' : '/assets/images/icons/icon-forward-white-t.png'"
                        alt="Forward icon">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>