@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/noui-slider.component.scss';

.onxite--login-bg {
  background-image: url('/assets/images/illustration/background-green-gradient-dark-theme.svg');
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 98%;
  overflow: hidden;
  min-height: 100vh !important;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.onxite--survey-footer {
  background-color: #000 !important;
  background-image: url('/assets/images/illustration/background-green-gradient-dark-theme-inv.svg');
  background-position-y: 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.ox--padding-0 {
  padding: 0 !important;
}

.ox--theme-dark {
  background-color: transparent;

  h4 {
    color: #A9FF01;
  }

  .ox--title-wrapper {
    h2 {
      color: #fff;
    }
  }

  .ox--step-description {
    color: #929292;
  }

  .ox--step-question {
    color: #fff;
  }

  .ox--target-title {
    color: #929292;
  }

  .noUi-connect {
    background: #A9FF01;
  }

  .noUi-connects {
    background: #92929282;
  }

  .noUi-marker {
    background: #A9FF01;
  }

  .noUi-value {
    color: #A9FF01;
  }

  .noUi-handle {
    border: 2px solid #A9FF01;
  }

  textarea {
    border-color: #A9FF01;
    color: #fff;

    &:focus-visible {
      outline: #A9FF01 auto 1px;
    }

    &::placeholder {
      color: #929292;
    }
  }

  button {
    background-color: #000;
    border: 1px solid #A9FF01;
    color: #A9FF01;

    &.ox--button-active {
      background-color: #A9FF01;
      border: 1px solid #A9FF01;
      color: #000;
    }
  }

  .ox--wizard-logo {
    span {
      color: #fff;
    }
  }
}

.ox--theme-white {
  background-color: transparent;

  h4 {
    color: #000;
  }

  .ox--title-wrapper {
    h2 {
      color: #000;
    }
  }

  .ox--step-description {
    color: #929292;
  }

  .ox--step-question {
    color: #000;
  }

  .ox--target-title {
    color: #929292;
  }

  .noUi-connect {
    background: #000;
  }

  .noUi-marker {
    background: #000;
  }

  .noUi-value {
    color: #000;
  }

  .noUi-handle {
    border: 2px solid #000;
  }

  textarea {
    border-color: #000;
    color: #929292;

    &:focus-visible {
      outline: #A9FF01 auto 1px;
    }

    &::placeholder {
      color: #929292;
    }
  }

  button {
    border: 1px solid #000;
    color: #000;
  }

  .ox--wizard-logo {
    span {
      color: #000;
      img {
        filter: invert(1);
      }
    }
  }
}

.ox--complete-survey-btn {
  border: 1px solid #A9FF01;
  border-radius: 4px;
  color: #A9FF01;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: -5px;

  &.ox--disable-end-btn {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.ox--survey-wizard {
  // border: 1px solid #ff0000;
  padding: 15px 25px;

  .ox--wizard-header {
    // border: 1px solid #fa8704;
    padding: 15px 15px 35px 15px;

    .ox--project-logo {
      .ox--image-wrapper {
        padding-bottom: 20px;
        width: 100px;

        img {
          width: 100%;
        }
      }

      .ox--title-wrapper {
        padding-bottom: 25px;
      }
    }

    .progress {
      border: 1px solid #a9ff0136;

      .progress-bar {
        background: rgb(169,255,1);
        background: linear-gradient(90deg, rgba(169,255,1,1) 0%, rgba(169,255,1,1) 71%, rgba(0,0,0,0) 100%);
      }
    }

    .ox--bar-full {
      .progress {
        .progress-bar {
          background: linear-gradient(90deg, rgba(169,255,1,1) 0%, rgba(169,255,1,1) 100%, rgba(0,0,0,0) 100%) !important;
        }
      }
    }
  }

  .ox--wizard-content {
    // border: 1px solid #fa8704;
    padding: 15px 15px;

    .ox--steps {
      position: relative;
    }

    .ox--steps:not(.ox--step-visible) {
      display: none;
    }

    h4 {
      padding-bottom: 15px;
    }

    p.ox--step-description {
      padding-bottom: 10px;
    }

    .ox--step-question {
      font-size: 1.1rem;
      padding: 20px 0px 15px 0px;

      .ox--question-name-desc {
        color: #929292;
        display: block;
      }
    }

    .ox--target-title {
      display: block;
      padding-bottom: 20px;

      .ox--question-name-desc {
        color: #929292;
        display: block;
      }
    }

    .ox--wizard-slider {
      padding: 0 13px 65px 13px;
    }

    .noUi-horizontal .noUi-handle {
      top: -6px;
    }

    .noUi-horizontal {
      height: 3px;
    }

    .noUi-marker-horizontal.noUi-marker, .noUi-marker-horizontal.noUi-marker-large {
      height: 20px;
    }

    .noUi-marker-horizontal.noUi-marker {
      width: 1px;
    }

    .noUi-value-horizontal {
      transform: translate(-50%,150%);
    }

    .noUi-pips {
      margin-top: 6px;
    }

    .ox--images-wrapper {
      padding: 20px 30px;
      text-align: center;

      .col-3 {
        margin: 0;
        padding: 0;

        .ox--image-thumbnail {
          background-position: center !important; 
          background-size: cover !important; 
          border-radius: 8px; 
          cursor: pointer; 
          display: inline-block; 
          height: 60px; 
          position: relative;
          width: 60px;

          &::after {
            background-image: url('/assets/images/icons/check-asset.svg');
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            height: 25px;
            margin: auto auto;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transform: scale(0);
            transition: .2s ease-in-out;
            -webkit-transition: .2s ease-in-out;
            width: 25px;
          }

          &.ox--asset-selected::after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }

    textarea {
      background-color: transparent;
      border-radius: 4px;
      display: block;
      margin-top: 0px;
      padding: 10px 10px;
      width: 100%;
    }
    
    button {
      border-radius: 4px;
      margin: 0px 15px 5px 0;
      width: 80px;
      transition: .3s ease-in-out;
      -webkit-transition: .3s ease-in-out;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    input[type=file] {
      visibility: hidden;
    }

    .ox--asset-selected-wrapper {
      padding: 0 15px;
      width: 100%;

      .ox--asset-title {
        display: block;
        color: #fff;

        .ox--question-name-desc {
          color: #929292;
          display: block;
        }
      }

      .ox--asset-description {
        color: #929292;
        display: block;
        margin-bottom: 40px;
        padding-top: 10px;
      }

      .ox--image-wrapper {
        display: block;
        margin: 0px 0 20px 0;
        position: relative;
        width: 100%;

        img {
          border-radius: 8px;
          width: 100%;
        }

        &::after {
          background-image: url('/assets/images/icons/check-asset.svg');
          background-repeat: no-repeat;
          background-size: cover;
          bottom: 0;
          content: '';
          display: block;
          height: 30px;
          position: absolute;
          right: 15px;
          top: 15px;
          width: 30px;
        }
      }

      .ox--icon-wrapper {
        cursor: pointer;
        display: inline-block;
        margin: 15px 20px 30px 20px;

        svg {
          color: #fff;
          height: 40px;
          width: 40px;
          transition: .2s ease-in-out;
          -webkit-transition: .2s ease-in-out;
        }

        &.ox--active-good {
          svg {
            stroke: #A9FF01;
            // fill: #A9FF01;
            // -webkit-stroke: #87cb00;
            // -webkit-fill: #A9FF01;
          }
        }

        &.ox--active-bad {
          svg  {
            stroke: #f00;
            // fill: #f00;
            // -webkit-stroke: #ab0000;
            // -webkit-fill: #f00;
          }
        }
      }

      input {
        background-color: transparent;
        border: 1px solid #A9FF01;
        border-radius: 4px;
        color: #fff;
        margin: 10px 0 20px 0;
        padding: 5px 10px;
        width: 100%;

        &:focus-visible {
          outline: #A9FF01 auto 1px;
        }
      }

      textarea {
        margin-top: 10px;
      }

      &.ox--asset_0 {
        display: block;
      }
    }

    .ox--feedback-section {
      margin-bottom: 30px;

      .progress-wrapper {
        margin-top: 10px;

        .progress-bar {
          background-color: #a9ff01c4 !important;
        }

        .progress {
          &.error-loading {
            .progress-bar {
              background-color: #ff0101ad !important;
            }
          }
        }
      }

      &.ox--hide-section {
        display: none;
      }

      .ox--image-upload-square {
        border: 1px solid #A9FF01;
        border-radius: 4px;
        display: block;
        height: 180px;
        position: relative;
        width: 100%;

        &::after {
          background-image: url('/assets/images/icons/icon-upload-dark-t.svg');
          background-repeat: no-repeat;
          background-size: contain;
          bottom: 0;
          content: "";
          cursor: pointer;
          height: 40px;
          left: 0;
          display: block;
          margin: auto auto;
          position: absolute;
          right: 0;
          top: 0;
          width: 40px;
        }
      }

      .ox--image-preview {
        display: block;
        
        img {
          border-radius: 8px;
          width: 100%;
        }
      }

      .ox--upload-image-btn {
        border: 1px solid #A9FF01;
        border-radius: 4px;
        display: inline-block;
        height: 30px;
        width: 85px;

        &.upload-disable {
          border: 1px solid #ccc;
          color: #ccc;
          cursor: not-allowed;
          opacity: 0.5;
        }

        & + small {
          float: right;
          width: 50%;
        }
      }

      .ox--step-question {
        padding: 20px 0px 10px 0px;
      }

      textarea {
        margin-top: 0;
      }

      .ox--feedback-note {
        margin-top: 30px;
      }
    }
  }

  .ox--wizard-footer {
    // border: 1px solid #fa8704;
    padding: 15px 15px;

    .row {
      align-items: center;
    }

    .ox--steppers.ox--stepper-back:not(.ox--stepper-visible) {
      display: none;
    }

    .ox--wizard-logo {
      span {
        font-size: 0.8rem;

        img {
          vertical-align: baseline;
          width: 50px;
        }
      }
    }

    .ox--steppers {
      cursor: pointer;
      display: block;
      width: 40px;

      &.ox--final-step {
        border-radius: 50%;
        border: 1px solid #A9FF01;
        height: 40px;
        padding: 7px 10px 10px 10px;
        width: 40px;
      }

      img {
        width: 100%;

        &.ox--disable-stepper {
          cursor: not-allowed;
          filter: sepia(1) opacity(0.3);
          -webkit-filter: sepia(1) opacity(0.3);
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .ox--survey-wizard {
    .ox--wizard-content {
      .ox--feedback-section {
        .ox--upload-image-btn {
          display: block;

          & + small {
            float: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .content.onxite--login-bg {
    padding: 0 0 0 0!important;
    background-position-y: 100%;
  }

  .onxite--survey-footer {
    background-position-y: 3%;
  }
}

// Wizard form and internal components and fields
.bs-stepper {
  background-color: transparent;
  box-shadow: none;

  .step {
    &.active {
      .bs-stepper-box {
        background-color: #A9FF01 !important;
      }
    }
  }

  .bs-stepper-box {
    background-color: #a9ff0178 !important;
    color: #000 !important;
  }

  .bs-stepper-label {
    .bs-stepper-title {
      color: #000 !important;
    }
  }

  .content-header {
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 1px 6px 0px #00000024;
    margin-bottom: 0 !important;
    padding-top: 20px;

    h5 {
      color: #000;
      font-weight: 700;
      text-align: center;
    }

    small {
      display: block;
      text-align: center;
    }
  }

  .ox--survey-form {
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 5px 0px #00000024;
    margin: 0 auto 2rem auto;
    padding: 2rem 2rem;
    width: 100%;

    label {
      display: block;
      font-weight: 700;
      margin: 5px 0 8px 0;
    }

    small {
      margin-top: 5px;
      display: inline-block;
    }

    .ox--option-selector-wrapper {
      display: flex;

      .ox--option-selector:first-of-type {
        border-radius: 5px 0px 0px 5px;
      }

      .ox--option-selector:last-of-type {
        border-radius: 0px 5px 5px 0px;
      }

      .ox--option-selector {
        border: 1px solid #d8d6de;
        cursor: pointer;
        display: inline-block;
        height: 40px;
        padding: 8px 0;
        text-align: center;
        transition: .15s ease-in-out;
        width: 100%;

        &.selected {
          background-color: #A9FF01;
          border: 1px solid #A9FF01;
        }
      }
    }

    .ox--image-upload-wrapper {
      height: 60px;

      .onxite--image-uploaded {
        max-width: 70px;
      }

      .ox--default-image {
        background-color: #eaeaea;
        border-radius: 5px;
        max-width: 70px;
        opacity: 0.7;
        padding: 20px 20px;
      }
    }

    .onxite--add-sections {
      display: block;
      margin: 30px auto 0px auto;
      max-width: 300px;
      width: 100%;
    }

    .ox--asset-preview {
      display: block;
      margin: 0 auto 20px auto;
      max-width: 150px;
      text-align: center;

      img {
        width: 100%;
      }
    }

    nouislider {
      margin-top: 1.8rem !important;
      margin-bottom: 3rem !important;
      padding: 0 20px;
  
      .noUi-connect {
        background: #A9FF01;
      }
  
      .noUi-handle {
        border: 2px solid #A9FF01;
      }
    }

    @media only screen and (max-width: 992px) {
      padding: 1.3rem 1rem;
    }
  }

  .onxite--asset-image {
    margin: 0 auto;
    max-width: 90px;

    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  .ox--btn-wizard {
    button {
      margin: 0 2px;
      width: 100%;
    }
  }

  @media only screen and (max-width: 992px) {
    .bs-stepper-content {
      padding: 0;
    }

    .bs-stepper-header {
      // align-items: center;
      // justify-content: center;
      // flex-direction: row;
      border-bottom: none;
    }
  }
}