<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <form action="#" class="invoice-repeater">
              <div>
                <div class="row d-flex justify-content-between">
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="itemName"
                        [(ngModel)]="searchItem"
                        (ngModelChange)="search()"
                        id="itemName"
                        placeholder="Search user"
                        autocomplete="off"
                      />
                    </div>
                  </div>

                  <div class="col-md-4 col-12 text-right">
                    <button
                      class="btn btn-icon btn-primary"
                      type="button"
                      (click)="modalOpen('create', null)"
                      rippleEffect
                    >
                      <i data-feather="plus" class="mr-25"></i>
                      <span>Add New</span>
                    </button>
                  </div>
                </div>

                <hr />
              </div>
            </form>
          </div>

          <div class="table-responsive">
            <table class="table table-hover-animation">
              <thead>
                <tr>
                  <th>Fullname</th>
                  <th>Account</th>
                  <th>Email</th>
                  <th>Profile</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngIf="users && users.length > 0; else noRegisters"
                >
                  <tr *ngFor="let user of users">
                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                    <td>{{ user.company.name | titlecase }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ profileTypes[user.profile.name] | titlecase }}</td>
                    <td>{{ user.status }}</td>
                    <td class="overflow-hidden">
                      <div ngbDropdown container="body">
                        <button
                          type="button"
                          class="btn btn-sm hide-arrow"
                          ngbDropdownToggle
                          data-toggle="dropdown"
                        >
                          <i data-feather="more-vertical"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <a
                            ngbDropdownItem
                            href="javascript:void(0);"
                            (click)="modalOpen('edit', user.id)"
                            ><i data-feather="edit-2" class="mr-50"></i
                            ><span>Edit</span></a
                          >
                          <a
                            ngbDropdownItem
                            href="javascript:void(0);"
                            (click)="modalOpen('edit', user.id, true)"
                            ><i data-feather="lock" class="mr-50"></i
                            ><span>Change password</span></a
                          >
                          <a
                            ngbDropdownItem
                            href="javascript:void(0);"
                            (click)="modalOpen('delete', user.id)"
                            *ngIf="userLogged !== user.id"
                            ><i data-feather="trash" class="mr-50"></i
                            ><span>Delete</span></a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noRegisters>
                  <tr>
                    <td colspan="6" class="text-center">
                      There are no registers
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>

          <app-pagination
            [pagination]="pagination"
            (paginate)="paginate($event)"
            *ngIf="users && users.length > 0"
          ></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal (modalStatus)="changeModalStatus($event)">
  <ng-container [formGroup]="formUser" *ngIf="!passwordForm; else passwordFields">
    <div class="row">
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="user_firstname">Firstname</label>
          <input
            type="text"
            class="form-control"
            id="user_firstname"
            formControlName="firstname"
            placeholder="Enter firstname"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="user_lastname">Lastname</label>
          <input
            type="text"
            class="form-control"
            id="user_lastname"
            formControlName="lastname"
            placeholder="Enter lastname"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="col-xl-12 col-md-12 col-12 mb-1">
        <div class="form-group">
          <label for="user_email">Email</label>
          <input
            type="text"
            class="form-control"
            id="user_email"
            formControlName="email"
            placeholder="Enter email"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="user_profile">Profile</label>
          <select
            class="form-control"
            id="user_profile"
            formControlName="profile"
          >
            <option value="">Select</option>
            <option
              *ngFor="let profile of $profiles | async"
              value="{{ profile.id }}"
              [selected]="formUser.get('profile').value === profile.id"
            >
              {{ profileTypes[profile.name] }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="user_company">Company</label>
          <select
            class="form-control"
            id="user_company"
            formControlName="company"
          >
            <option value="">Select</option>
            <option
              *ngFor="let company of $companies | async"
              value="{{ company.id }}"
              [selected]="formUser.get('company').value === company.id"
            >
              {{ company.name }}
            </option>
          </select>
        </div>
      </div>
      <div
        class="col-xl-6 col-md-6 col-12 mb-1"
        *ngIf="formUser.get('id').value"
      >
        <div class="form-group">
          <label for="user_status">Status</label>
          <select
            class="form-control"
            id="user_status"
            formControlName="status"
          >
            <option
              *ngFor="let status of userStatus"
              value="{{ status.value }}"
              [selected]="formUser.get('status').value === status.value"
            >
              {{ status.value }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #passwordFields>
    <ng-container [formGroup]="formUserPassword">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <label for="reset-password-new">New Password</label>
        </div>
        <div class="input-group input-group-merge form-password-toggle">
          <input
            [type]="passwordTextType ? 'text' : 'password'"
            formControlName="password"
            class="form-control form-control-merge"
            placeholder="············"
            aria-describedby="reset-password-new"
            tabindex="1"
            autofocus
            [ngClass]="{ 'is-invalid error': f.password.touched && f.password.errors }"
          />
          <div class="input-group-append">
            <span class="input-group-text cursor-pointer"
              ><i
                class="feather font-small-4"
                [ngClass]="{
                  'icon-eye-off': passwordTextType,
                  'icon-eye': !passwordTextType
                }"
                (click)="togglePasswordTextType()"
              ></i
            ></span>
          </div>
        </div>
        <div
          *ngIf="f.password.touched && f.password.errors"
          class="invalid-feedback"
          [ngClass]="{ 'd-block': f.password.errors }"
        >
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <label for="reset-password-confirm">Confirm Password</label>
        </div>
        <div class="input-group input-group-merge form-password-toggle">
          <input
            [type]="confPasswordTextType ? 'text' : 'password'"
            formControlName="confirmPassword"
            class="form-control form-control-merge"
            placeholder="············"
            aria-describedby="reset-password-confirm"
            tabindex="2"
            [ngClass]="{ 'is-invalid error': f.confirmPassword.touched && f.confirmPassword.errors }"
          />
          <div class="input-group-append">
            <span class="input-group-text cursor-pointer"
              ><i
                class="feather font-small-4"
                [ngClass]="{
                  'icon-eye-off': confPasswordTextType,
                  'icon-eye': !confPasswordTextType
                }"
                (click)="toggleConfPasswordTextType()"
              ></i
            ></span>
          </div>
        </div>
        <div
          *ngIf="f.confirmPassword.touched && f.confirmPassword.errors"
          class="invalid-feedback"
          [ngClass]="{ 'd-block': f.confirmPassword.errors }"
        >
          <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
          <div *ngIf="f.confirmPassword.errors?.mustMatch">Passwords do not match</div>
        </div>
      </div>
      <button class="btn btn-icon btn-primary" (click)="generatePassword()">Generate</button>
    </ng-container>
  </ng-template>
</app-modal>
