.onxite--menubar-last {
  background-color: #000;  
  bottom: 0;
  box-shadow: 0px -4px 12px #000;
  left: 0;
  padding: 20px 0 !important;
  position: absolute;
  right: 0;
  text-align: center;

  .btn.btn-icon {
    width: 90%;
  }

  .ox--logout{
    color: #fff;
    padding: 12px 0 0 0;
  }
}

.onxite--project-barlist {
  .onxite--btn-secondary {
    background-color: transparent !important;
    color: #a9fe05 !important;
    margin: 25px 0;
    outline: 1px solid #a9fe05;
    width: 90% !important;
  }
}

.main-menu .shadow-bottom {
  background: linear-gradient(#000 41%, rgba(255, 255, 255, 0.11) 95%, rgba(255, 255, 255, 0));
}

.onxite--project-content,
.onxite--group-content {
  display: none;
}

.onxite--submenu-open,
.onxite--submenu-2-open {
  display: block;
}

.ox--group-menu > li > a > div {
  padding-left: 30px !important;
}

.onxite--project-barlist {
  padding-bottom: 120px !important;

  .onxite--header-title {
    color: #fff;
    display: block;
    text-transform: uppercase;
    padding: 10px 0 15px 20px;
  }

  li {
    a {
      padding: 3px 0 !important;

      div {
        border-radius: 8px;
        color: #fff;
        height: 40px;
        padding: 5px 5px 5px 8px;
        width: 100%;

        span {
          vertical-align: sub;
        }
      }
    }
  }

  li.open {
    a {
      background-color: transparent !important;      
    }

    & > a {
      & > div {
        color: #a9fe05;
      }
    }
  }

  li.selected {
    & > a {
      & > div {
        color: #a9fe05;
      }
    }
  }

  div.selected {
    color: #a9fe05;
  }

  .ox--event-menu {
    div {
      padding-left: 75px;
    }
  }
}

.vertical-layout.vertical-menu-modern.menu-expanded .footer {
  margin-left: 0px;
}