app-invite {
  max-width: 1080px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.ox--invite-component {
  .onxite--title-navbar {
    .card-body {
      height: auto !important;
    }
  }
  // Header with project info
  .onxite--project-header {
    padding-bottom: 40px;

    .onxite--project-image {
      display: inline-block;
      max-width: 100px;
    }

    .onxite--project-title {
      display: inline-block;
      margin-left: 40px;
      vertical-align: middle;
    }

    .onxite--event-title{
      display: block;
      margin-left: 1.5rem;
      vertical-align: middle;
      margin-top: 50px;
    }

    div:nth-of-type(2) {
      align-self: center;
    }

    img {
      border-radius: 6px;
      margin-left: 20px;
      max-width: 125px;
      width: 100%;
    }

    h4, p {
      color: #000;
    }

    h4 {
      font-weight: 600;
      margin-bottom: 6px;
    }
  }

  h3 {
    color: #000;
    font-weight: 700;
    margin: 0px 25px 20px 35px;
    width: 100%;
  }

  .ox--reporters-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px #00000030;
    margin: 0 25px 30px 25px;
    width: 100%;

    .ox--reporter-register {
      padding: 20px 20px;

      .ox--survey-type {
        display: inline-block;
        margin-top: 10px;
      }

      &.ox--border-registers {
        border-bottom: 1px solid #e2e2e2;
      }

      .ox--reporter-info {
        padding: 8px 0;

        span:first-of-type {
          color: #000;
          font-size: 1.1rem;
          font-weight: 700;
        }
      
        span {
          display: block;
        }
      }

      .ox--actions-and-info {
        padding: 8px 0;
        text-align: right;

        .ox--pending {
          background-color: #e2e2e2;
        }

        .ox--complete {
          background-color: #a9ff01b8;
        }

        span:first-of-type {
          border-radius: 5px;
          color: #000;
          margin: 0 20px;
          padding: 4px 8px;
        }

        span:last-of-type {
          a {
            svg {
              color: #000;
              height: 25px;
              margin: 0 15px;
              width: 20px;
            }
          }
        }
      }
    }
  }
}

.onxite--reporters-form {
  .autocomplete-container .input-container input {
    display: block;
    width: 100%;
    height: 2.714rem;
    padding: 0.438rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .autocomplete-container .input-container input::placeholder {
    color: #b9b9c3;
  }
  
  .autocomplete-container {
    box-shadow: none;

    .not-found {
      border: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  
  .ox--invite-component {
    .onxite--project-header {
      button {
        margin-top: 5px;
        width: 100% !important;
      }
    }

    .onxite--title-navbar {
      .onxite--common-fields {
        .onxite--col:first-of-type {
          padding-right: 0px;
        }
      }
  
      .onxite--col {
        button {
          margin-top: 5px;
          width: 100% !important;
        }
      }
    }

    .ox--reporters-wrapper {
      .ox--reporter-register {
        .ox--actions-and-info {
          text-align: left;

          span:first-of-type {
            margin: 0 0;
          }

          .ox--resend-btn {
            display: block;
            margin: 15px 0;
            width: 100% !important;

            span {
              float: none !important;
            }
          }

          span:last-of-type {
            float: right;
          }
        }
      }
    }
  }

}
