<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row ox--invite-component">
      <div class="col-12" *ngIf="project">
        <div class="row onxite--project-header">
          <div class="col-12 col-md-6">
            <span class="onxite--project-image">
              <img
                class=""
                [src]="
                  project.image
                    ? imageContainer + '/projects/' + project.image
                    : '/assets/images/icons/default-image.svg'
                "
                alt="{{ project.name }} image"
              />
            </span>
            <span class="onxite--project-title">
              <h4 class="card-title">{{ project.name }}</h4>
              <p class="card-text">
                {{ project?.company?.name | titlecase }}
              </p>
            </span>

            <span class="onxite--event-title">
              <h4 class="card-title">{{ eventGroupName }}</h4>
              <p class="card-text">
                Event: {{ eventName | titlecase }}<br/>
                Location: {{ eventLocation | titlecase }}
              </p>
            </span>

          </div>
          <div class="col-12 col-md-6 text-right">
            <button
              class="btn btn-icon btn-outline-secondary"
              type="button"
              rippleEffect
              [routerLink]="['/event/dashboard', eventId]"
            >
              <span>Back</span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card onxite--title-navbar">
          <div class="card-body">
            <form action="#" class="invoice-repeater">
              <div>
                <div class="row d-flex justify-content-between">
                  <div class="col-md-4 col-12">
                    <h2>{{ contentHeader["headerTitle"] }}</h2>
                  </div>

                  <div class="col-md-8 col-12 onxite--common-fields">
                    <div class="row justify-content-end">
                      <div class="onxite--col col-md-6 col-12">
                        <!-- Search bar -->
                        <div class="onxite--field-search">
                          <div class="input-group input-group-merge">
                            <input type="text" class="form-control" name="search" [(ngModel)]="searchItem" (ngModelChange)="search()" placeholder="Search reporters" autocomplete="off"/>
                            <div class="input-group-append">
                              <span class="input-group-text cursor-pointer">
                                <i data-feather="search"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <!--/ Search bar -->
                      </div>
                      <div class="onxite--col col-md-3 col-12">
                        <button
                          class="btn btn-icon btn-primary"
                          type="button"
                          rippleEffect
                          (click)="modalOpen('create', eventId)"
                          [disabled]="isOutOfDate"
                        >
                          <span>Assign reporter</span>
                        </button>
                      </div>
                      <div class="onxite--col col-md-3 col-12">
                        <button
                          class="btn btn-icon btn-primary"
                          type="button"
                          rippleEffect
                          (click)="copyToClipboard()"
                        >
                          <span>Get survey link</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <ng-container *ngIf="reporters && reporters.length > 0; else noRegisters">

        <h3>Active reporters</h3>
        <div class="row ox--reporters-wrapper" *ngIf="completeReporters && completeReporters.length > 0">
          <div class="col-12">
            <div class="row ox--reporter-register" [ngClass]="i !== (completeReporters.length - 1) && completeReporters.length > 1 ? 'ox--border-registers' : ''" *ngFor="let reporter of completeReporters; let i = index">
              <div class="col-12 col-md-5">
                <div class="ox--reporter-info">
                  <span>{{ reporter.reporter.name }}</span>
                  <span>{{ reporter.reporter.phone }}</span>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="ox--reporter-info">
                  <span class="ox--survey-type">
                    {{ reporter.survey?.id === 1 ? 'Simple Survey' : reporter.survey?.id === 2 ? 'Extended Survey' : 'No Survey' }}
                  </span>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="ox--actions-and-info">
                  <span [ngClass]="reporter.status === 'PENDING' ? 'ox--pending' : 'ox--complete'">{{ reporter.status | titlecase }}</span>
                  <span>
                    <a
                      href="javascript:void(0);"
                      (click)="modalOpen('delete', eventId, reporter.reporter.id)"
                      ><i data-feather="trash" class="mr-50"></i
                    ></a
                    >
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3>Pending reporters</h3>
        <div class="row ox--reporters-wrapper" *ngIf="pendingReporters && pendingReporters.length > 0">
          <div class="col-12">
            <div class="row ox--reporter-register" [ngClass]="i !== (pendingReporters.length - 1) && pendingReporters.length > 1 ? 'ox--border-registers' : ''" *ngFor="let reporter of pendingReporters; let i = index">
              <div class="col-12 col-md-5">
                <div class="ox--reporter-info">
                  <span>{{ reporter.reporter.name }}</span>
                  <span>{{ reporter.reporter.phone }}</span>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="ox--reporter-info">
                  <select
                    id="reporter_survey_assign_{{ reporter.reporter.id }}"
                    class="form-control"
                    (change)="updateSurveyType($event, reporter.id)"
                  >
                    <option value="" *ngIf="!reporter.survey">No survey</option>
                    <option value="1" [selected]="reporter.survey?.id === 1 ? 'selected' : null">Simple Survey</option>
                    <option value="2" [selected]="reporter.survey?.id === 2 ? 'selected' : null">Extended Survey</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="ox--actions-and-info">
                  <span [ngClass]="reporter.status === 'PENDING' ? 'ox--pending' : 'ox--complete'">{{ reporter.status | titlecase }}</span>
                  <span>
                    <button
                      class="btn btn-icon btn-outline-secondary ox--resend-btn"
                      [id]="'btn_resend_reporter_' + reporter.reporter.id"
                      type="button"
                      rippleEffect
                      (click)="resendEmail(reporter.reporter.id)"
                      [disabled]="isOutOfDate"
                    >
                      <span>Resend</span>
                    </button>
                  </span>
                  <span>
                    <a
                      href="javascript:void(0);"
                      (click)="modalOpen('delete', eventId, reporter.reporter.id)"
                      ><i data-feather="trash" class="mr-50"></i
                    ></a
                    >
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #noRegisters>
        <div class="no-registers text-center">There are no registers</div>
      </ng-template>
    </div>
  </div>
</div>

<app-modal
  (modalStatus)="changeModalStatus($event)"
>
  <form [formGroup]="formReporter">
    <div class="row">
      <div class="form-group col-md-12">
        <div class="row onxite--reporters-form">
          <div class="form-group col-md-12">
            <label class="form-label" for="reporter_email">Email</label>
            <ng-autocomplete
              #ngAutoCompleteStatic
              required
              [data]="searchResults"
              id="reporter_email"
              formControlName="email"
              (inputCleared)="clearResults()"
              [initialValue]=""
              [placeholder]="'Enter reporter email'"
              [searchKeyword]="'email'"
              (selected)="selectResult()"
              [itemTemplate]="itemTemplateStatic"
            >
            </ng-autocomplete>

            <ng-template #itemTemplateStatic let-item>
              <a [innerHTML]="item"></a>
            </ng-template>
          </div>
          <div class="form-group col-md-12">
            <label class="form-label" for="reporter_name">Full Name</label>
            <input
              required
              type="text"
              id="reporter_name"
              formControlName="name"
              class="form-control"
              placeholder="Enter Name and Last Name"
              autocomplete="off"
            />
          </div>
          <div class="form-group col-md-12">
            <label class="form-label" for="reporter_organization">Organization/Company</label>
            <input
              required
              type="text"
              id="reporter_organization"
              formControlName="organization"
              class="form-control"
              placeholder="Enter reporter organization"
              autocomplete="off"
            />
          </div>
          <div class="form-group col-md-12">
            <label class="form-label" for="reporter_phone">Phone Number</label>
            <input
              inputmode="decimal"
              pattern="[0-9]*"
              type="text"
              id="reporter_phone"
              formControlName="phone"
              class="form-control"
              placeholder="Enter reporter phone number"
              appOnlyNumbers
              autocomplete="off"
            />
          </div>
          <div class="form-group col-md-12">
            <label class="form-label" for="reporter_survey_assign">Survey Type</label>
            <select
              formControlName="surveyType"
              id="reporter_survey_assign"
              class="form-control"
              required
            >
              <option value="">Select</option>
              <option value="1">Simple Survey</option>
              <option value="2">Extended Survey</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-modal>
