ngb-modal-window {
  backdrop-filter: blur(1px);
}

ngb-modal-backdrop {
  background-color: #000000d1 !important;
}

.ox--modal-component {
  .modal-dialog {
    max-width: 570px !important;
  }
}

.ox--delete-advice {
  display: block;
  padding-top: 20px;

  span {
    display: block;
    padding: 10px 0 0px 0;

    div {
      margin-top: 20px;
    }
  }
}

.ox--modal-component {
  .modal-header {
    background-color: transparent;

    .close {
      box-shadow: none;
      color: #000 !important;
      transform: translate(-5px, 5px);
    
      &:hover {
        transform: translate(-5px, 5px);
      }
    }

    h5 {
      color: #000 !important;
      font-size: 1.3rem;
      padding: 10px 0 0 0;
    }
  }
  
  .modal-content {
    form {
      .content {
        background-color: #fff;;
      }
    }
  }
  
  .modal-footer {
    border-top: none;
  
    button {
      display: inline-block;
      width: 48.6%;
    }
  }
}

@media only screen and (max-width: 768px) {

  .ox--modal-component {
    .modal-content {
      .modal-footer {
        flex-wrap: nowrap;
      }
    }
  }
  
}