<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <form action="#" class="invoice-repeater">
              <div>
                <div class="row d-flex justify-content-between">
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="itemName"
                        [(ngModel)]="searchItem"
                        (ngModelChange)="search()"
                        id="itemName"
                        placeholder="Search menu"
                        autocomplete="off"
                      />
                    </div>
                  </div>

                  <div class="col-md-4 col-12 text-right">
                    <button class="btn btn-icon btn-primary" type="button" (click)="modalOpen('create', null)" rippleEffect>
                      <i data-feather="plus" class="mr-25"></i>
                      <span>Add New</span>
                    </button>
                  </div>
                </div>
                
                <hr />
              </div>
            </form>
          </div>
          
          <div class="table-responsive">
            <table class="table table-hover-animation">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Icon</th>
                  <th>Url</th>
                  <th>Menu parent</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="menus && menus.length > 0; else noRegisters">
                  <tr *ngFor="let menu of menus">
                    <td>{{ menu.name }}</td>
                    <td>{{ menu.type }}</td>
                    <td>{{ menu.icon }}</td>
                    <td>{{ menu.url }}</td>
                    <td>{{ menu.menu ? menu.menu.name : '' }}</td>
                    <td class="overflow-hidden">
                      <div ngbDropdown container="body">
                        <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                          <i data-feather="more-vertical"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <a ngbDropdownItem href="javascript:void(0);" (click)="modalOpen('edit', menu.id)"
                            ><i data-feather="edit-2" class="mr-50"></i><span>Edit</span></a
                          ><a ngbDropdownItem href="javascript:void(0);" (click)="modalOpen('delete', menu.id)"
                            ><i data-feather="trash" class="mr-50"></i><span>Delete</span></a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noRegisters>
                  <tr>
                    <td colspan="6" class="text-center">
                      There are no registers
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>

          <app-pagination
            [pagination]="pagination"
            (paginate)="paginate($event)"
            *ngIf="menus && menus.length > 0"
          ></app-pagination>
        </div>
      </div>
    </div>

  </div>
</div>

<app-modal (modalStatus)="changeModalStatus($event)">

  <ng-container [formGroup]="formMenu">
    <div class="row">
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="menu_name">Name<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="menu_name" formControlName="name" placeholder="Enter name" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="menu_url">URL</label>
          <input type="text" class="form-control" id="menu_url" formControlName="url" placeholder="Enter url" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-12 col-md-12 col-12 mb-1">
        <div class="form-group">
          <label for="menu_description">Description</label>
          <input type="text" class="form-control" id="menu_description" formControlName="description" placeholder="Enter description" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-12 mb-1">
        <div class="form-group">
          <label for="menu_icon">Icon<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="menu_icon" formControlName="icon" placeholder="Enter icon" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-12 mb-1">
        <div class="form-group">
          <label for="menu_i18n">Translate<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="menu_i18n" formControlName="i18n" placeholder="Enter translate" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-12 mb-1">
        <div class="form-group">
          <label for="menu_position">Position<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="menu_position" formControlName="position" placeholder="Enter position" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="menu_slug">Slug<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="menu_slug" formControlName="slug" placeholder="Enter slug" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="menu_type">Type<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="menu_type" formControlName="type" placeholder="Enter type" autocomplete="off"/>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="menu_status">Status</label>
          <select class="form-control" id="menu_status" formControlName="status">
            <option *ngFor="let status of menuStatus" value="{{ status.value }}" [selected]="formMenu.get('status').value === status.value">{{ status.value }}</option>
          </select>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12 mb-1">
        <div class="form-group">
          <label for="menu_menu">Menu related</label>
          <select class="form-control" id="menu_menu" formControlName="menu">
            <option value="">Select</option>
            <option *ngFor="let menu of menus" value="{{ menu.id }}" [selected]="formMenu.get('menu').value === menu.id">{{ menu.name }}</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>

</app-modal>