<ng-template #assetModal let-modal>
  <div class="modal-header ox--asset-modal">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ox--asset-modal" tabindex="0" ngbAutofocus>
    <div class="row">
      <div class="col-12 ox--asset-header">
        <h5>{{ assetData.assetType }}</h5>
        <p>
          {{ assetData.assetDescription }}
        </p>
      </div>

      <div class="col-12 ox--asset-image">
        <span class="ox--image-wrapper" [ngClass]="assetData.wasView ? 'ox--check-asset' : null">
          <img [src]="assetData.asset" alt="Asset image">
        </span>
        <div class="ox--asset-info">
          <span class="ox--comments-quantity">{{ commentsQuantity }}</span>
          <div class="ox--number-ex-average">
            <div class="progress-wrapper" [ngClass]="samplesAverage > assetData.assetSamples ? 'ox--progress-oversize' : null">
              <ngb-progressbar [value]="samplesPercentage"></ngb-progressbar>
              <span>{{ samplesAverage }}/{{ assetData.assetSamples }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 ox--reporters">
        <div class="ox--reporter-section" *ngFor="let reporter of assetData.reporters">
          <span class="ox--reporter-name">
            {{ reporter.name }} <span>Verified</span>
          </span>
          <span class="ox--reporter-comment-date">
            {{ reporter.date | date: 'MMMM dd, yyyy' }}
          </span>
          <span class="ox--reporter-comment">
            {{ reporter.comment }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>