
ngb-modal-window {
  backdrop-filter: blur(1px);
}

ngb-modal-backdrop {
  background-color: #000000d1 !important;
}

.modal.ox--asset-modal {
  &.modal-primary {
    .modal-header{
      .close {
        color: #000 !important;
      }
    } 
  }

  .modal-header{
    background-color: transparent;

    h5 {
      color: #000 !important;
      font-size: 1.3rem;
      padding: 10px 0 0 0;
    }
    
    .close {
      box-shadow: none;
      transform: translate(20px, 5px);
    
      &:hover {
        transform: translate(20px, 5px);
      }
    }
  }

  .modal-content {
    padding: 0 25px;

    .modal-body{
      .ox--asset-header {
        h5 {
          color: #000;
          font-size: 1.3rem;
          font-weight: bold;
          margin-bottom: 0;
        }
      }

      .ox--asset-image {
        margin: 5px 0 20px 0;

        .ox--image-wrapper {
          img {
            border-radius: 8px;
            width: 100%;
          }

          &.ox--check-asset::after {
            background-image: url('/assets/images/icons/check-asset.svg');
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            display: block;
            height: 25px;
            position: absolute;
            right: 25px;
            top: 15px;
            width: 25px;
          }
        }

        .ox--asset-info {
          margin: 15px 0;

          .ox--comments-quantity {
            background-color: #9747FF;
            border-radius: 50%;
            color: #fff;
            display: inline-block;
            font-size: 0.8rem;
            height: 25px;
            margin-right: 15px;
            padding-top: 5px;
            text-align: center;
            vertical-align: top;
            width: 25px;
          }

          .ox--number-ex-average {
            display: inline-block;
            vertical-align: middle;
            width: 120px;

            .progress-wrapper {
              .progress {
                border-radius: 0;
                height: 0.6rem;
  
                .progress-bar {
                  background-color: #A9FF01;

                  &:last-child {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                  }
                }
              }

              &.ox--progress-oversize {
                .progress {
                  .progress-bar {
                    background-color: #9747FF;
                  }
                }
              }

              span {
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      .ox--reporters {
        max-height: 300px;
        overflow-y: scroll;

        .ox--reporter-section {
          margin: 0 0 40px 0;

          .ox--reporter-name {
            color: #000;
            display: block;
            font-weight: bold;
            font-size: 1.2rem;

            span {
              background-color: #A9FF01;
              border-radius: 5px;
              color: #424B5A;
              font-size: 0.6rem;
              margin: 0 6px;
              padding: 2px 6px;
              vertical-align: middle;
            }
          }

          .ox--reporter-comment-date {
            display: block;
            font-size: 0.9rem;
          }

          .ox--reporter-comment {
            display: block;
            margin: 10px 0;
          }
        }
      }
    }
  }
}
