.onxite--pagination {
  padding-top: 30px;
  
  .pagination {
    justify-content: center;

    .page-item.active .page-link {
      background-color: #A9FF01;
      color: #000 !important;
    }

    .page-item .page-link:hover {
      color: #A9FF01;
    }
  }
}