@import '@core/scss/angular/libs/select.component.scss';

.ox--companies-admin-form {
  .ng-select .ng-option.ng-option-marked {
    background-color: rgb(169 255 7 / 0%) !important;
    color: #000 !important;
  }
  
  .ng-select .ng-option.ng-option-selected.ng-option-marked {
    background-color: #A9FF01 !important;
    color: #000 !important;
  }
  
  .ng-select.ng-select-multiple .ng-value {
    background-color: #A9FF01 !important;
    color: #000;
  }

  .ng-select.ng-select-focused .ng-select-container {
    border-color: #A9FF01 !important;
  }

  .ng-select .ng-option.ng-option-selected {
    background-color: #A9FF01 !important;
    color: #000 !important;
  }
}
