@import '@core/scss/base/core/menu/menu-types/vertical-menu.scss';
@import '@core/scss/base/core/menu/menu-types/vertical-overlay-menu.scss';

.left-0 {
  margin-left: 0px;
}

.main-menu .main-menu-content {
  padding-top: 3rem;
}

.table.table-hover-animation {
  background-color: #ebebeb;
}

.table-hover-animation tbody tr {
  transition: all .25s ease;
  background-color: #fff;
}

.table-hover-animation tbody tr:hover {
  transform: translateY(-4px);
}

// === CUSTOMS ===

h2 {
  color: #000;
  font-size: 2.3rem;
  font-weight: 600;
}

.ox--content-wrapper {
  padding-top: 70px;
}

.main-menu .navbar-header .navbar-brand {
  margin-top: 1.1rem;
}

.onxite--navbar {
  background-color: #000;
  height: 75px;

  .navbar-brand {
    padding: 14px 23px;

    .brand-logo {
      img {
        width: 100%;
        max-width: 120px;
      }
    }
  }

  li:last-of-type a {
    color: #fff;
    padding: 26px 25px;
  }
}

.top-0 {
  padding-top: 2rem !important;
}

.left-0-top-0 {
  margin-left: 0px !important;
  padding-top: 4rem !important;
}

html .content .content-wrapper .content-header-title {
  border-right: none;
}

// BUTTONS

.default-layout {
  .btn-primary {
    border-color: #A9FF01 !important;
    background-color: #A9FF01 !important;
    color: #000 !important;
  }

  .btn.btn-icon {
    width: 150px;
  }
  
  .btn-primary:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 25px -8px #A9FF01;
  }
  
  .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #A9FF01 !important;
  }
  
  .btn.disabled, .btn:disabled {
    background-color: #E1E4E8 !important;
    border-color: #e1e4e8 !important;
    cursor: not-allowed;
    opacity: 0.65;
  }

  .main-menu.menu-light .navigation > li.open:not(.menu-item-closing) > a, 
  .main-menu.menu-light .navigation > li.sidebar-group-active > a {
    color: #000;
    background: #a9fe05;
  }

  .main-menu.menu-light .navigation > li ul .active > a {
    color: #a9fe05;
  }
}

// FORMS

.form-control:focus,
.onxite--field-search input:focus,
.onxite--field-search .input-group:not(.bootstrap-touchspin):focus-within .form-control, 
.onxite--field-search .input-group:not(.bootstrap-touchspin):focus-within .input-group-text,
.custom-file-input:focus ~ .custom-file-label,
.input-group:not(.bootstrap-touchspin):focus-within .form-control,
.input-group:not(.bootstrap-touchspin):focus-within .input-group-text {
  border-color: #A9FF01 !important;
  outline: 0;
}

.form-group {
  label {
    color: #000;
    font-weight: 500;
  }
}

input.ng-touched.ng-invalid {
  outline: auto 1px #f00;
}

// GENERAL

.onxite--title-navbar {
  background-color: transparent;
  box-shadow: none;

  .onxite--common-fields {
    .onxite--col {
      padding: 0;

      &:first-of-type {
        padding-right: 18px;
      }
    }
  }

  .onxite--list-type {
    background-color: #EDEDEF;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    display: inline-block;
    height: 38px;
    width: 38px;
  
    &:first-of-type {
      border-radius: 4px 0px 0px 4px;
    }
  
    &:nth-of-type(2) {
      border-radius: 0px 4px 4px 0px;
    }

    &.onxite--active {
      background-color: #A9FF01;
    }
  
    svg {
      color: #000;
      display: block;
      height: 1.7rem !important;
      margin: 7px auto;
      width: 1.7rem !important;
    }
  }
}

.dropdown-menu {
  .dropdown-item:last-of-type {
    color: #f00;
  }
}

.no-registers {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: block;
  font-size: 2rem;
  padding: 40px 0;
  width: 100%;
}

.onxite--image-uploaded {
  margin: 0 auto;
  max-width: 110px;

  img {
    width: 100%;
  }
}

.navbar-floating .header-navbar-shadow {
  display: none;
}

.onxite--login-bg {
  background-image: url('/assets/images/illustration/login_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 102% 100%;

  a {
    color: #4c7400;
  }
}

app-error {
  background-color: #000;
}

html body {
  background-color: #000;
}

html .content {
  background-color: #f8f8f8;
  height: 100%;
  overflow-y: scroll;
}

footer.footer {
  background-color: #f8f8f8;
}

form input.error, 
form input.error:focus,
form select.error,
form select.error:focus,
form input.error + .custom-file-label {
  outline: auto 1px #f00 !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


@media only screen and (max-width: 768px) {

  .vertical-overlay-menu {
    .main-menu {
      width: 300px;
      left: -260px;
    }
  }

  .ox--content-wrapper {
    padding-bottom: 30px;
    padding-top: initial;
  }
}