.ox--events-and-assets-data {
  span:last-of-type {
    color: #000;
    display: block;
    font-size: 2.6rem;
    font-weight: bold;
  }
}

.ox--impressions-data {
  span:last-of-type {
    color: #000;
    display: block;
    font-size: 2.6rem;
    font-weight: bold;
  }
}

.ox--objetives-data {
  span:not(.ox--tooltip) {
    display: block;
    font-size: 14px;
  }

  .ox--chart {
    margin: 20px 0;

    &.ox--chart-primary {
      .progress-bar{
        background-color: #A9FF01 !important;  
      }
    }

    &.ox--chart-secondary {
      .progress-bar{
        background-color: #5CFEE4 !important;  
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .ox--frequency-chart {
    overflow-x: scroll;
    overflow-y: hidden;
  }

}
