<div class="row">
  <div class="col-12">
    <div class="row ox--events-and-assets-data">
      <div class="col-6 text-center">
        <span class="text-uppercase">Events<br>Activated</span>
        <span>{{ eventsActivated }}/{{ allEvents }}</span>
      </div>
      <div class="col-6 text-center">
        <span class="text-uppercase">Assets<br>Activated</span>
        <span>{{ assetsActivated }}/{{ allAssets }}</span>
      </div>
    </div>

    <hr>

    <div class="row ox--impressions-data">
      <div class="col-6 text-center">
        <span class="text-uppercase">Impressions</span>
        <span>{{ impressions | currency: 'USD' : '':'1.0-0' }}</span>
      </div>
      <div class="col-6 text-center">
        <span class="text-uppercase">Total impressions TD</span>
        <span>{{ totalImpressions | currency: 'USD' : '':'1.0-0' }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="line-chart" class="ox--frequency-chart" #apexLineChartRef>
          <apx-chart
            [series]="apexLineChart.series"
            [chart]="apexLineChart.chart"
            [xaxis]="apexLineChart.xaxis"
            [stroke]="apexLineChart.stroke"
            [tooltip]="apexLineChart.tooltip"
            [colors]="apexLineChart.colors"
            [dataLabels]="apexLineChart.dataLabels"
            [grid]="apexLineChart.grid"
          ></apx-chart>
        </div>
      </div>
    </div>

    <hr>

    <div class="row ox--objetives-data">
      <div class="col-12">
        <h3 class="card-title text-black title-dashboard">
          Objectives
          <span placement="top" ngbTooltip="{{ objetiveTooltip }}" class="ox--dashboard-tooltip-wrapper">
            <i data-feather="info" class="mr-25 ox--dashboard-tooltip"></i>
          </span>
        </h3>
      </div>
      <div class="col-6">
        <span class="text-black">Projected Impressions: {{ projectedImpressions | currency: 'USD' : '':'1.0-0' }}</span>
        <span class="ox--chart ox--chart-primary">
          <ngb-progressbar
            [height]="'6px'"
            [value]="60"
          ></ngb-progressbar>
        </span>
        <span>{{ objetive | titlecase }}: 60%</span>
      </div>
      <div class="col-6">
        <span class="text-black">Samples: {{ samples | currency: 'USD' : '':'1.0-0' }}</span>
        <span *ngIf="secondaryObjetive" class="ox--chart ox--chart-secondary">
          <ngb-progressbar
            [height]="'6px'"
            [value]="40"
          ></ngb-progressbar>
        </span>
        <span *ngIf="secondaryObjetive">{{ secondaryObjetive | titlecase }}: 40%</span>
      </div>
    </div>
  </div>
</div>
