@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';


.onxite--blackground {
  background-color: #000;
}

.onxite--navbar {
  display: none;
}

.onxite--brand-logo {
  text-align: center;
  height: 70px;

  img {
    max-width: 130px;
    width: 100%;
  }
}

.auth-inner.py-2::before, 
.auth-inner.py-2::after {
  background-image: none !important;
}

.ox--help-image {
  bottom: 70px;
  position: absolute;
  text-align: center;

  a {
    color: #fff;
    opacity: .6;

    span:first-of-type {
      display: inline-block;
      max-width: 20px;
      margin-right: 10px;
      vertical-align: bottom;

      img {
        width: 100%;
      }
    }
  }
}


// FORMS

.form-control:focus,
.onxite--field-search input:focus,
.onxite--field-search .input-group:not(.bootstrap-touchspin):focus-within .form-control, 
.onxite--field-search .input-group:not(.bootstrap-touchspin):focus-within .input-group-text {
  border-color: #A9FF01 !important;
  outline: 0;
}
