@import '@core/scss/angular/libs/noui-slider.component.scss';

app-event-singles {
	max-width: 1080px;
	margin: 0 auto;
	display: block;
}

.ox--event-view {
  .onxite--project-header {
    color: #000;
    padding: 0 20px;

    .onxite--project-title {
      margin-left: 0;

      h3 {
        font-weight: 700;
        color: #000;
      }

      p {
        span {
          display: block;
        }
      }

      button {
        margin: 10px 0 0px 0;
      }
    }

    .ox--general-actions {
      align-self: center;
      text-align: right;

      button {
        margin: 0 10px;
      }
    }
  }

  .ox--card-content {
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 0;
    padding: 30px 30px;

    .ox--spinner-wrapper {
      text-align: center;

      .spinner-border {
        height: 5rem !important;
        width: 5rem !important;
      }
    }
  }

  .onxite--targets-form,
  .onxite--assets-form {
    background: #e1e4e866;
    padding: 20px 20px 0px 20px;
    margin: 20px 0px;
  }

  .onxite--target-section-start,
  .onxite--asset-section-start {
    margin-top: 50px;
;
  }

  .onxite--assets-start {
    &.onxite--asset-section-start {
      margin-top: 5px;
    }
  }

  nouislider {
    margin-top: 1.8rem !important;
    margin-bottom: 3rem !important;
    padding: 0 20px;

    .noUi-connect {
      background: #A9FF01;
    }

    [disabled] .noUi-connect {
      background: #B8B8B8;
    }

    .noUi-handle {
      border: 2px solid #A9FF01;
    }
  }

  .onxite--asset-image {
    margin: 0 auto;
    max-width: 150px;

    img {
      width: 100%;
    }
  }

  .onxite--add-sections {
    margin-top: 30px;
    min-width: 200px;
  }

  .custom-file {
    small {
      i {
        display: block;
        font-size: 0.8rem;
        line-height: 1.2;
        padding-top: 5px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  
  .ox--event-view {
    .onxite--project-header {
      .onxite--project-title {
        width: 100%;
      }

      button {
        margin: 5px 0px 0px 0px !important;
        width: 100% !important;
      }
    }
  }

}