<div class="content-wrapper container-xxl p-0">
  <div class="content-body ox--event-view">
    <div class="row">
      <div class="col-12">
        <div class="row onxite--project-header" *ngIf="event">
          <div class="col-12 col-md-6">
            <span class="onxite--project-title">
              <h3 class="card-title">{{ event.name }}</h3>
              <p class="card-text">
                <span>
                  <b>Project:</b> {{ event.eventGroup.project.name | titlecase }}
                </span>
                <span>
                  <b>Event group:</b> {{ event.eventGroup.name | titlecase }}
                </span>

                <button
                  class="btn btn-icon btn-outline-secondary"
                  type="button"
                  [routerLink]="['/event/dashboard', event.id]"
                  rippleEffect
                >
                  <span>Dashboard</span>
                </button>
              </p>
            </span>
          </div>
          <div class="col-12 col-md-6 ox--general-actions">
            <button
              class="btn btn-icon btn-outline-secondary"
              type="button"
              (click)="toogleEdit($event, 'cancel')"
              rippleEffect
              *ngIf="editEvent"
            >
              <span>Cancel</span>
            </button>

            <button
              class="btn btn-icon btn-primary"
              type="button"
              (click)="toogleEdit($event)"
              rippleEffect
            >
              <span>Edit</span>
            </button>

            <button
              class="btn btn-icon btn-danger"
              type="button"
              (click)="modalOpen('delete', event.id)"
              rippleEffect
              *ngIf="!editEvent"
            >
              <span>Delete</span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="ox--card-content">
          <div id="event" *ngIf="event; else noData">
            <form [formGroup]="formEvent">
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="form-label" for="event_name">Name</label>
                  <input
                    required
                    type="text"
                    formControlName="name"
                    id="event_name"
                    class="form-control"
                    placeholder="Enter event name"
                    [class.error]="formEvent.get('name').hasError('nameExist') && formEvent.get('name').touched"
                    (blur)="searchName($event)"
                    autocomplete="off"
                  />
                  <span *ngIf="formEvent.get('name').hasError('nameExist') && formEvent.get('name').touched" class="invalid-form">
                    <small class="form-text text-danger">This name already exists!</small
                    >
                  </span>
                </div>
                <div class="form-group col-md-12">
                  <label class="form-label" for="group_location">Location</label>
                  <input
                    type="text"
                    formControlName="location"
                    id="group_location"
                    class="form-control"
                    [class.error]="formEvent.controls['location'].invalid && goToNext"
                    placeholder="Enter the geography of where the event activations will take place"
                    autocomplete="off"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label" for="event_start_date">Start Date</label>
                  <div class="form-inline input-group">
                    <input
                      required
                      formControlName="startDate"
                      id="event_start_date"
                      class="form-control"
                      placeholder="mm-dd-yyyy"
                      #eventCalendarStartDate="ngbDatepicker"
                      ngbDatepicker
                      [minDate]="event.eventGroup.startDate"
                      [maxDate]="event.eventGroup.endDate"
                      autocomplete="off"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventCalendarStartDate.toggle()"
                        type="button" rippleEffect></button>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label" for="event_end_date">End Date</label>
                  <div class="form-inline input-group">
                    <input
                      required
                      formControlName="endDate"
                      id="event_end_date"
                      class="form-control"
                      placeholder="mm-dd-yyyy"
                      #eventCalendarEndDate="ngbDatepicker"
                      ngbDatepicker
                      [minDate]="event.eventGroup.startDate"
                      [maxDate]="event.eventGroup.endDate"
                      autocomplete="off"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventCalendarEndDate.toggle()"
                        type="button" rippleEffect></button>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label" for="group_start_time">Start Time</label>
                  <div class="form-group" >
                    <ngb-timepicker
                      formControlName="startTime"
                      id="group_start_time"
                      class="ox--timepicker"
                      [class.error]="formEvent.controls['startTime'].invalid"
                    ></ngb-timepicker>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label" for="group_end_time">End Time</label>
                  <div class="form-group" >
                    <ngb-timepicker
                      formControlName="endTime"
                      id="group_end_time"
                      class="ox--timepicker"
                      [class.error]="formEvent.controls['endTime'].invalid"
                    ></ngb-timepicker>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label class="form-label" for="event_budget">Event Budget</label>
                  <input
                    required
                    inputmode="decimal"
                    pattern="[0-9]*"
                    type="text"
                    formControlName="budget"
                    id="event_budget"
                    class="form-control"
                    placeholder="Enter event budget"
                    mask="separator"
                    prefix="$ "
                    thousandSeparator="."
                    appOnlyNumbers
                    autocomplete="off"
                    [class.error]="formEvent.controls['budget'].invalid"
                  />
                </div>
                <div class="form-group col-md-12">
                  <label class="form-label" for="event_sponsorship_investment">Sponsorship Investment</label>
                  <input
                    required
                    inputmode="decimal"
                    pattern="[0-9]*"
                    type="text"
                    formControlName="sponsorshipInvestment"
                    id="event_sponsorship_investment"
                    class="form-control"
                    placeholder="Enter sponsorship investment"
                    mask="separator"
                    prefix="$ "
                    thousandSeparator="."
                    appOnlyNumbers
                    [class.error]="formEvent.controls['sponsorshipInvestment'].invalid && goToNext"
                    autocomplete="off"
                  />
                </div>

                <ng-container *ngIf="($eventObjetives | async) as objetives">
                  <div class="form-group col-md-12">
                    <label class="form-label" for="event_main_objetive">Main Objective</label>
                    <select formControlName="eventObjetive" class="form-control" id="event_main_objetive" required [class.error]="formEvent.controls['eventObjetive'].invalid">
                      <option value="">Select</option>
                      <option *ngFor="let objetive of objetives.eventObjetives" [disabled]="objetive.id.toString() === formEvent.get('eventSecondaryObjetive').value.toString()" value="{{ objetive.id }}">{{ objetive.name | titlecase }}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="form-label" for="event_secondary_objetive">Secondary Objective (optional)</label>
                    <select formControlName="eventSecondaryObjetive" class="form-control" id="event_secondary_objetive">
                      <option value="">Select</option>
                      <option *ngFor="let objetive of objetives.eventObjetives" [disabled]="objetive.id.toString() === formEvent.get('eventObjetive').value.toString()" value="{{ objetive.id }}">{{ objetive.name | titlecase }}</option>
                    </select>
                  </div>
                </ng-container>

                <div class="form-group col-md-12">
                  <label class="form-label" for="event_attendance_number">Expected Attendance</label>
                  <input
                    required
                    inputmode="decimal"
                    pattern="[0-9]*"
                    type="text"
                    formControlName="attendance"
                    id="event_attendance_number"
                    class="form-control"
                    placeholder="Ex: 10"
                    appOnlyNumbers
                    autocomplete="off"
                    [class.error]="formEvent.controls['attendance'].invalid"
                  />
                </div>   

                <div class="form-group col-md-12">
                  <div class="row onxite--targets-form" formGroupName="targets">
                    <div class="form-group col-md-12">
                      <h3>Target Audience - Demographics</h3>
                    </div>

                    <ng-container *ngFor="let target of targetQuantityArray; let i = index" formGroupName="target_{{ target }}">
                      <div class="form-group col-md-12 text-right onxite--target-section-start">
                        <span *ngIf="this.editEvent && targetQuantityArray.length > 1" (click)="deleteTarget(target)">
                          <span [data-feather]="'x'"></span>
                        </span>
                      </div>

                      <div class="form-group col-md-8">
                        <label class="form-label" for="event_target_name_{{ target }}">Name</label>
                        <input
                          required
                          type="text"
                          formControlName="name"
                          id="event_target_name_{{ target }}"
                          class="form-control"
                          placeholder="Example: Soccer fans"
                          autocomplete="off"
                          [class.error]="formEvent.get('targets.target_'+ target +'.name')?.invalid"
                        />
                      </div>
                      <div class="form-group col-md-4">
                        <label class="form-label" for="event_target_expected_audience_{{ target }}">Expected Audience (%)</label>
                        <input
                          required
                          type="text"
                          formControlName="expectedAttendance"
                          id="event_target_expected_audience_{{ target }}"
                          class="form-control"
                          placeholder="%"
                          suffix="%"
                          mask="00"
                          autocomplete="off"
                          [class.error]="formEvent.get('targets.target_'+ target +'.expectedAttendance')?.invalid"
                          (input)="validatePercentage($event, target)"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-label" for="event_age_range_{{ target }}">Age Group</label>
                        <nouislider [disabled]="!editEvent" [id]="'event_age_range_'+ target" [(ngModel)]="ageRange[i].range" [ngModelOptions]="{standalone: true}" [config]="configSliderAge" (change)="setValues('target_' + target, ageRange[i].range)"></nouislider>
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-label" for="event_target_gender_{{ target }}">Gender</label>
                        <select formControlName="eventGender" class="form-control" id="event_target_gender_{{ target }}" required [class.error]="formEvent.get('targets.target_'+ target +'.eventGender')?.invalid">
                          <option value="">Select</option>
                          <option *ngFor="let gender of $eventGenders | async" value="{{ gender.id }}">{{ gender.name !== 'LGTBQA+' ? (gender.name | titlecase) : gender.name }}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-12 onxite--target-section-end">
                        <label class="form-label" for="event_target_ethnicity_{{ target }}">Ethnicity</label>
                        <select formControlName="eventEthnicity" class="form-control" id="event_target_ethnicity_{{ target }}" required [class.error]="formEvent.get('targets.target_'+ target +'.eventEthnicity')?.invalid">
                          <option value="">Select</option>
                          <option *ngFor="let ethnicity of $eventEthnicities | async" value="{{ ethnicity.id }}">{{ ethnicity.name | titlecase }}</option>
                        </select>
                      </div>
                    </ng-container>
                    
                    <div class="form-group col-md-12">
                      <button
                        class="btn btn-icon btn-outline-secondary onxite--add-sections"
                        type="button"
                        (click)="addNewTarget()"
                        rippleEffect
                        *ngIf="this.editEvent && targetQuantityArray.length < maxTargets"
                      >
                        <span>Add additional target</span>
                      </button>
                    </div>
                  </div>
                </div>
                
                

                <div class="form-group col-md-12">
                  <div class="row onxite--assets-form" formGroupName="assets">
                    <div class="form-group col-md-12">
                      <h3>Assets</h3>
                    </div>

                    <ng-container *ngFor="let asset of assetQuantityArray" formGroupName="asset_{{ asset }}">
                      <div class="form-group col-md-12 text-right onxite--asset-section-start {{ asset === 1 ? 'onxite--assets-start' : null }}">
                        <span *ngIf="this.editEvent && assetQuantityArray.length > 1" (click)="deleteAsset(asset)">
                          <span [data-feather]="'x'"></span>
                        </span>
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-label" for="event_asset_type_{{ asset }}">Asset Type</label>
                        <select formControlName="type" class="form-control" id="event_asset_type_{{ asset }}" required *ngIf="eventAssetTypes && eventAssetTypes.length > 0" [class.error]="formEvent.get('assets.asset_'+ asset_ +'.type')?.invalid">
                          <option value="">Select</option>
                          <option *ngFor="let assetType of eventAssetTypes" value="{{ assetType.id }}">{{ assetType.name | titlecase }}</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <div class="onxite--asset-image" [ngClass]="formEvent.get('assets.asset_' + asset) && formEvent.get('assets.asset_' + asset + '.name').value ? null: 'ox--default-image'">
                          <img
                            [src]="
                            !!formEvent.get('assets.asset_' + asset) && formEvent.get('assets.asset_' + asset + '.name').value
                                ? imageContainer + '/event-assets/' + formEvent.get('assets.asset_' + asset + '.name').value
                                : '/assets/images/icons/default-image.svg'
                            "
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-md-8">
                        <fieldset class="form-group">
                          <label for="event_asset_name_raw_{{ asset }}">Image:</label>
                          <div class="custom-file">
                            <input
                              type="file"
                              class="custom-file-input"
                              type="file"
                              formControlName="nameRaw"
                              accept="image/*"
                              id="event_asset_name_raw_{{ asset }}"
                              (change)="uploadFile($event, 'asset_' + asset)"
                              [class.error]="formEvent.get('assets.asset_'+ asset_ +'.nameRaw')?.invalid"
                            />
                            <label class="custom-file-label">
                              {{
                                !!formEvent.get('assets.asset_' + asset) && formEvent.get('assets.asset_' + asset + '.name').value ? "File uploaded" : "Choose file"
                              }}
                            </label>
                            <small><i>Recomended resolution 300x300 px, max 10 MB, supported types: jpg, jpeg, gif, png, heic</i></small>
                          </div>
                        </fieldset>
                      </div>

                      <div class="form-group col-md-12">
                        <label class="form-label" for="event_asset_objetive_{{ asset }}">Asset Objective</label>
                        <select formControlName="objetive" class="form-control" id="event_asset_objetive_{{ asset }}" [class.error]="formEvent.get('assets.asset_'+asset+'.objetive').hasError('required') && goToNext" required *ngIf="($assetObjetives | async) as assetObjetives">
                          <option value="">Select</option>
                          <option *ngFor="let asset of assetObjetives" value="{{ asset.id }}">{{ asset.name | titlecase }}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-label" for="event_asset_expected_quantity_{{ asset }}">Expected QTY / Engagement</label>
                        <input
                          required
                          inputmode="decimal"
                          pattern="[0-9]*"
                          type="text"
                          formControlName="expectedQuantity"
                          id="event_asset_expected_quantity_{{ asset }}"
                          class="form-control"
                          placeholder="Number"
                          appOnlyNumbers
                          [class.error]="formEvent.get('assets.asset_'+asset+'.expectedQuantity').invalid && goToNext"
                          autocomplete="off"
                        />
                      </div>
                      <div class="form-group col-md-12 onxite--asset-section-end">
                        <label class="form-label" for="event_asset_expected_description_{{ asset }}">Description (optional)</label>
                        <input
                          type="text"
                          formControlName="description"
                          id="event_asset_expected_description_{{ asset }}"
                          class="form-control"
                          placeholder="Describe your asset"
                          [class.error]="formEvent.get('assets.asset_'+asset+'.description').invalid && goToNext"
                          autocomplete="off"
                        />
                      </div>
                    </ng-container>

                    <div class="form-group col-md-12">
                      <button
                        class="btn btn-icon btn-outline-secondary onxite--add-sections"
                        type="button"
                        rippleEffect
                        *ngIf="this.editEvent && assetQuantityArray.length < maxAssets"
                        (click)="addNewAsset()"
                      >
                        <span>Add additional assets</span>
                      </button>
                    </div>


                    <div class="form-group col-md-12 ox--asset-advice">
                      <small>
                        If you can't find your asset, please email us at <a href="mailto:support@onxite.com">support@onxite.com</a>
                      </small>
                    </div>
                  </div>
                </div>
                
              </div>
            </form>
          </div>

          <ng-template #noData>
            <div class="ox--spinner-wrapper">
              <div class="spinner-border mr-50" style="width: 3rem; height: 3rem" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal
  (modalStatus)="changeModalStatus($event)"
></app-modal>