<div class="card-body ox--attendance-info">
  <div class="row">
    <div class="offset-8 col-4 text-right">
      <small><b>{{ dateStart | date: "MM/dd/yyyy" : 'GMT' }}</b></small>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-4 col-md-3 ox--attendance-data">
          <span>
            Expected
            <b>{{ attendanceExpected | currency: 'USD' : '':'1.0-0' }}</b>
          </span>
          <span>
            Actuals
            <b>{{ attendanceActuals | currency: 'USD' : '':'1.0-0' }}</b>
          </span>
          <span>
            Percentage
            <b>{{ attendancePercentageValue }}%</b>
          </span>
        </div>
        <div class="col-8 col-md-9 ox--attendance-chart" #apexDonutChartRef>
          <apx-chart
            [series]="apexDonutChart.series"
            [chart]="apexDonutChart.chart"
            [labels]="apexDonutChart.labels"
            [dataLabels]="apexDonutChart.dataLabels"
            [plotOptions]="apexDonutChart.plotOptions"
            [responsive]="apexDonutChart.responsive"
            [colors]="apexDonutChart.colors"
            [legend]="apexDonutChart.legend"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-12 ox--attendance-footer">
      <div class="row">
        <div class="col-12 text-center ox--attendance-data">
          <span>
            To Date
            <b>{{ toDateValue.value1 | currency: 'USD' : '':'1.0-0' }}/{{ toDateValue.value2 }}% of Target</b>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
