.ox--attendance-info {
  margin: 0;
  padding: 0px 20px 20px 20px;

  .ox--attendance-data {

    &.col-md-3 {
      span:first-of-type {
        margin-top: 25px;
      }
    }

    span {
      display: block;
      font-size: 1.2rem;
      line-height: 1.2;
      margin: 10px 0;

      b {
        display: block;
        font-size: 1.2rem;
      }
    }
  }

  .ox--attendance-footer {
    b {
      display: block;
    }
  }
}