.main-menu.menu-light .navigation,
.main-menu.menu-light,
.main-menu.menu-light .navigation > li ul .active {
  color: #A9FF01;
  background: #000000;
  box-shadow: none;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
  max-width: 120px;
  width: 100%;
}
