@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/components/include'; // Components includes

// To open dd on right
.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
}

// Cart Touchspin
.touchspin-cart {
  .touchspin-wrapper {
    width: 6.4rem;
  }
  &:focus-within {
    box-shadow: none !important;
  }
}

app-navbar {
  background-color: #000 !important;

  .navbar-container {
    background-color: #000;

    .nav-link.menu-toggle {
      svg {
        color: #a9fe05 !important;
      }
    }

    .navbar-nav {
      align-items: center;
    }

    .ox--mobile-menu-logo {
      margin: 0 auto;
      padding-right: 30px;
      
      .brand-logo {
        img {
          max-width: 100px;
          width: 100%;
        }
      }
    }
  }
}

app-navbar-bookmark {
  display: flex;
}

// Apply style on window scroll for navbar static type
.navbar-static-style-on-scroll {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 0px !important;
}

// Dark Layout
.dark-layout {
  .navbar-container {
    .search-input {
      .search-list {
        li {
          &.auto-suggestion {
            &:hover {
              background-color: $theme-dark-body-bg;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {

  app-navbar {
    background-color: #fff;

    &.header-navbar {
      &.floating-nav {
        box-shadow: 0px 0px 12px 1px rgba(34, 41, 47, 0.1);
        border-radius: 0px;
        margin-top: 0px;
        width: calc(100% - 260px);

        .navbar-container {
          background-color: #fff; 
          height: 70px;
          overflow: initial;

          .ox--mobile-menu-logo {
            display: none;
          }

          ul.navbar-nav {
            li {
              a.dropdown-user-link {
                .user-name {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }
  }

  .ox--my-profile-form {
    .ox--image-preview {
      border: 1px solid #d8d6de;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 160px;
      margin: 0 auto;
      position: relative;
      overflow: auto;
      width: 160px;
  
      &.no-image {
        &::after {
          background-image: url('/assets/images/icons/icon-upload-dark-t.svg');
          background-repeat: no-repeat;
          background-size: contain;
          bottom: 0;
          content: "";
          height: 40px;
          left: 0;
          display: block;
          filter: grayscale(1);
          margin: auto auto;
          position: absolute;
          right: 0;
          top: 0;
          width: 40px;
        }
      }
      
      img {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }
  
    input[type=file] {
      position: absolute;
      visibility: hidden;
    }

    .progress-wrapper {
      margin: 10px auto;
      max-width: 300px;
      width: 100%;
  
      .progress-bar {
        background-color: #a9ff01c4 !important;
      }
  
      .progress {
        &.error-loading {
          .progress-bar {
            background-color: #ff0101ad !important;
          }
        }
      }
    }
  }

}