<div class="border-all meida px-1 py-1">
	<div class="bg-light-primary rounded mb-1 ox--attachment-wrapper-image">
		<img [src]="attachment" />
	</div>
	<div>
		<h3 class="text-black">
			{{ reporter }}
		</h3>
	</div>
</div>
