@import '@core/scss/base/pages/page-auth.scss';


.onxite--brand-logo {
  text-align: center;
  height: 70px;

  img {
    max-width: 130px;
    width: 100%;
  }
}

.spinner-border {
  height: 1rem;
  width: 1rem;
}