ngb-modal-window {
  backdrop-filter: blur(1px);
}

ngb-modal-backdrop {
  background-color: #000000d1 !important;
}

.ox--comment-modal {
  .modal-dialog {
    align-items: flex-start;
  }

  .modal-content {
    background-color: #000000c7;
    padding: 15px 15px;

    .modal-header {
      background: transparent;

      .close {
        background: transparent;
        box-shadow: none;
        color: #fff !important;
        transform: translate(0px, 5px);
      
        &:hover {
          transform: translate(0px, 5px);
        }
      }
    }

    .ox--image-section {

      .carousel {
        padding: 0 50px;

        .carousel-inner {

          img {
            border-radius: 4px;
            display: block;
            height: 500px;
            margin: 0 auto;
          }
        }
    
        .carousel-control-prev {
          left: -45px;

          .carousel-control-prev-icon {
            width: 40px;
            height: 40px;
          }
        }

        .carousel-control-next {
          right: -45px;

          .carousel-control-next-icon {
            width: 40px;
            height: 40px;
          }
        }

        .carousel-indicators {
          bottom: -40px;
        }
      }
    }
  
    .ox--comments-section {
      background-color: #fff;
      border-radius: 4px;
      height: 530px;
      padding: 20px 35px;

      span {
        display: block;
      }

      .ox--reporter-name {
        color: #000;
        font-weight: bold;
        font-size: 1.2rem;
      }

      .ox--reporter-comment-date {
        font-size: 0.9rem;
      }

      .ox--reporter-comment {
        margin: 10px 0;
      }

      .ox--images-uploaded-container {
        max-height: 330px;
        overflow-y: scroll;
        padding: 5px 10px;

        .ox--image-uploaded-wrapper {
          padding: 0;
          text-align: center;
          
          .ox--image-uploaded {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 4px;
            display: inline-block;
            cursor: pointer;
            height: 165px;
            margin: 2px 2px;
            width: 165px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .ox--comment-modal {
    .modal-dialog {
      align-items: center;
    }

    .modal-content {
      .ox--image-section {
        margin-top: 20px;

        .carousel {
          .carousel-inner {
            img {
              height: auto;
            }            
          }

          .carousel-control-prev {
            left: -30px;
          }
  
          .carousel-control-next {
            right: -30px;
          }
        }
      }
    
      .ox--comments-section {
        .ox--images-uploaded-container {
          .ox--image-uploaded-wrapper {
            .ox--image-uploaded {
              height: 110px;
              width: 110px;
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 1440px) {
  .ox--comment-modal {
    .modal-dialog {
      align-items: center;
      margin: 0 auto;
      max-width: 1300px;
    }

    .modal-content {
      .ox--image-section {
        .carousel {
          .carousel-inner {
            img {
              height: 600px;
            }
          }
        }
      }
    
      .ox--comments-section {
        height: 630px;

        .ox--images-uploaded-container {
          max-height: 460px;
        }
      }
    }
  }
}