<ng-template #commentModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="row">
      <div class="col-12 col-md-8 ox--image-section order-2 order-md-1">
        
        <!-- ngb-carousel component -->
        <ngb-carousel *ngIf="carouselImages" [activeId]="carouselImages[0].id" [interval]="0" #imagesCarousel (mousemove)="loadCarousel(imagesCarousel)">
          <ng-template ngbSlide [id]="item.id" *ngFor="let item of carouselImages">
            <div class="carousel-img-wrapper" >
              <img [src]="item.image" class="img-fluid" alt="Random slide {{ item.id }}"/>
            </div>
          </ng-template>
        </ngb-carousel>
        <!-- ngb-carousel component -->

      </div>
      <div class="col-12 col-md-4 ox--comments-section order-1 order-md-2">
        <span class="ox--reporter-name">
          {{ this.reporterName }}
        </span>
        <span class="ox--reporter-comment-date">
          {{ this.publicationDate | date: "MMMM dd, y" }}
        </span>
        <ng-container *ngFor="let item of comments">
          <span class="ox--reporter-comment" *ngIf="imagesCarousel ? item.id === imagesCarousel.activeId : item.id === imageSelected ">
            {{ item.comment }}
          </span>
        </ng-container>
        
        <div class="row ox--images-uploaded-container">
          <div
            class="col-6 col-md-6 ox--image-uploaded-wrapper"
            *ngFor="let item of carouselImages" (click)="selectImage(item.id)"
          >
            <span class="ox--image-uploaded" style="background-image: url('{{ item.image }}');"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
