@import '@core/scss/core.scss';
@import './assets/scss/styles';


@font-face {
  font-family: 'Roboto';
  font-weight: 'bold';
  src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 'normal';
  src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: Roboto;
}