.ox--comments-wrapper {
  max-height: 1100px;

  .card-content  {
    padding-bottom: 30px;
  }

  .ox--comments {
    max-height: 950px;

    .ox--reporter-comment-section {
      cursor: pointer;
      padding-bottom: 15px;

      small {
        display: block;
        padding-bottom: 15px;
      }

      p {
        margin-top: 0 !important;
      }

      .ox--verified-flag {
        background-color: #A9FF01;
        border-radius: 5px;
        color: #424B5A;
        font-size: 0.6rem;
        margin: 0 6px;
        padding: 2px 6px;
        vertical-align: middle;
      }

      .ox--image-comment-container {
        display: inline-block;
        position: relative;

        .ox--image-comment-wrapper {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 4px;
          display: inline-block;
          height: 100px;
          margin: 0 5px;
          width: 100px;
      
          &.ox--last-reporter-image-visible::after {
            background-color: #0000006e;
            border-radius: 4px;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
          }
        
          img {
            width: 100%;
          }
        }
      
        .ox--quantity-remains-label {
          bottom: 0;
          color: #fff;
          font-size: 1.5rem;
          font-weight: bold;
          height: 40px;
          left: 0;
          position: absolute;
          right: 0;
          margin: auto auto;
          text-align: center;
          top: 0;
          width: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .ox--comments-wrapper {
    .ox--comments {
      .ox--reporter-comment-section {
        .ox--image-comment-container {
          .ox--image-comment-wrapper {
            height: 140px;
            width: 140px;
          }
        }
      }
    }
  }

}