<div class="media my-1 ox--reporter-comment-section" (click)="images.length > 0 && !!images[0].image ? openCommentModal() : null">
	<div class="media-body">
		<h4 class="mb-0 text-black">
			{{ reporter }} <span class="ox--verified-flag" *ngIf="surveyType === 'extended'">Verified</span>
		</h4>
		<small>{{ date | date: "MMMM dd, y" }}</small>
		
		<p class="pa-1 mt-1" *ngIf="!!images[indexCommentInArray]">
			{{ images[indexCommentInArray].comment }}
		</p>

		<ng-container *ngIf="images.length > 0 && !!images[0].image">
			<div *ngFor="let item of images; let i = index" class="ox--image-comment-container">
				<span
					class="ox--image-comment-wrapper"
					[ngClass]="(i + 1) === maxImagesPerRow && maxImagesPerRow < images.length ? 'ox--last-reporter-image-visible' : null"
					style="background-image: url('{{ item.image }}');"
					*ngIf="i < maxImagesPerRow"
				></span>
				<span
					class="ox--quantity-remains-label" 
					*ngIf="(i + 1) === maxImagesPerRow && maxImagesPerRow < images.length"
				>
					+{{ images.length - maxImagesPerRow }}
				</span>
			</div>
		</ng-container>
	</div>
</div>
