<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row">
      <div class="col-12" *ngIf="$project | async as project">
        <div class="row onxite--project-header">
          <div class="col-12 col-md-6">
            <span class="onxite--project-image">
              <img
                class=""
                [src]="
                  project.image
                    ? imageContainer + '/projects/' + project.image
                    : '/assets/images/icons/default-image.svg'
                "
                alt="{{ project.name }} image"
              />
            </span>
            <span class="onxite--project-title">
              <h4 class="card-title">{{ project.name }}</h4>
              <p class="card-text">
                {{ project.company.name | titlecase }}
              </p>
            </span>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card onxite--title-navbar">
          <div class="card-body">
            <form action="#" class="invoice-repeater">
              <div>
                <div class="row d-flex justify-content-between">
                  <div class="col-md-4 col-12 text-center text-md-left">
                    <h2>{{ contentHeader["headerTitle"] }}</h2>
                  </div>

                  <div class="col-md-8 col-12 onxite--common-fields">
                    <div class="row text-md-right">
                      <div class="onxite--col col-md-6 col-12">
                        <!-- Search bar -->
                        <div class="onxite--field-search">
                          <div class="input-group input-group-merge">
                            <input type="text" class="form-control" name="search" [(ngModel)]="searchItem" (ngModelChange)="search()" placeholder="Search event groups" autocomplete="off"/>
                            <div class="input-group-append">
                              <span class="input-group-text cursor-pointer">
                                <i data-feather="search"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <!--/ Search bar -->
                      </div>
                      <div class="onxite--col col-md-3 col-12">
                        <button
                          class="btn btn-icon btn-outline-secondary"
                          type="button"
                          (click)="modalOpen('wizard', null, 'group')"
                          rippleEffect
                        >
                          <span>Create event group</span>
                        </button>
                      </div>
                      <div class="onxite--col col-md-3 col-12">
                        <button
                          class="btn btn-icon btn-primary"
                          type="button"
                          (click)="modalOpen('wizard', null, 'onlyEvent')"
                          rippleEffect
                        >
                          <span>Create event</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <ngb-accordion
        #acc="ngbAccordion"
        *ngIf="eventGroups && eventGroups.length > 0; else noRegisters"
      >
        <ngb-panel *ngFor="let group of eventGroups">
          <ng-template ngbPanelTitle>
            <span class="lead collapse-title">
              <span class="onxite--group-fields onxite--group-title">{{
                group.name
              }}</span>
              <span class="onxite--group-fields onxite--group-date">
                Start Date: {{ group.startDate | date: "MM/dd/yyyy" : 'GMT' }} -
                End Date: {{ group.endDate | date: "MM/dd/yyyy" : 'GMT' }}
              </span>
            </span>
            <div class="onxite--btn-actions overflow-hidden">
              <div ngbDropdown container="body">
                <button
                  type="button"
                  class="btn btn-sm hide-arrow"
                  ngbDropdownToggle
                  data-toggle="dropdown"
                >
                  <i data-feather="more-vertical"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    ngbDropdownItem
                    href="javascript:void(0);"
                    (click)="modalOpen('edit', group.id, 'group')"
                    ><i data-feather="edit-2" class="mr-50"></i
                    ><span>Edit</span></a
                  ><a
                    ngbDropdownItem
                    href="javascript:void(0);"
                    (click)="modalOpen('duplicate', group.id, 'group')"
                    ><i data-feather="copy" class="mr-50"></i
                    ><span>Duplicate</span></a
                  ><a
                    ngbDropdownItem
                    href="javascript:void(0);"
                    (click)="modalOpen('delete', group.id, 'group')"
                    ><i data-feather="trash" class="mr-50"></i
                    ><span>Delete</span></a
                  >
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template class="onxite--subpanel" ngbPanelContent>
            <div class="onxite--events" *ngFor="let event of group.events">
              <div class="row ox--event-row">
                <div class="col-6">
                  <span class="onxite--group-fields onxite--group-title">
                    <a [routerLink]="['/event/dashboard', event.id]">{{ event.name }}</a>
                  </span>
                  <span class="onxite--group-fields onxite--group-date">
                    Start Date: {{ event.startDate | date: "MM/dd/yyyy" }} - 
                    End Date: {{ event.endDate | date: "MM/dd/yyyy" }}
                  </span>
                </div>
                <div class="col-6">
                  <div class="onxite--btn-actions overflow-hidden">
                    <div ngbDropdown container="body">
                      <button
                        type="button"
                        class="btn btn-sm hide-arrow"
                        ngbDropdownToggle
                        data-toggle="dropdown"
                      >
                        <i data-feather="more-vertical"></i>
                      </button>
                      <div ngbDropdownMenu class="ox--event-actions">
                        <a
                          ngbDropdownItem
                          href="javascript:void(0);"
                          [routerLink]="['/event/single', event.id]"
                          ><i data-feather="edit-2" class="mr-50"></i
                          ><span>Edit</span></a
                        ><a
                          ngbDropdownItem
                          href="javascript:void(0);"
                          [routerLink]="['/event/dashboard', event.id]"
                          ><i data-feather="eye" class="mr-50"></i
                          ><span>View</span></a
                        ><a
                          ngbDropdownItem
                          href="javascript:void(0);"
                          (click)="modalOpen('duplicate', event.id, 'event')"
                          ><i data-feather="copy" class="mr-50"></i
                          ><span>Duplicate</span></a
                        >
                        <a
                          ngbDropdownItem
                          href="javascript:void(0);"
                          (click)="modalOpen('delete', event.id, 'event')"
                          ><i data-feather="trash" class="mr-50"></i
                          ><span>Delete</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <ng-template #noRegisters>
        <div class="no-registers text-center">There are no registers</div>
      </ng-template>
    </div>

    <!-- <app-pagination
      [pagination]="pagination"
      (paginate)="paginate($event)"
      *ngIf="eventGroups.length > 0"
    ></app-pagination> -->
  </div>
</div>

<app-modal
  (modalStatus)="changeModalStatus($event)"
  (isModalOpen)="checkModalStatus($event)"
>
  <!-- Horizontal Wizard -->
  <ng-container *ngIf="formStructType === 'wizard'; else noWizard">
    <ng-container *ngIf="formType === 'group'; else onlyEvent">  
      <section>
        <div id="group-and-event-wizard" class="bs-stepper">
          <div class="bs-stepper-header">
            <div class="step" data-target="#event-group">
              <button class="step-trigger">
                <span class="bs-stepper-box">1</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Event Group</span>
                  <span class="bs-stepper-subtitle"></span>
                </span>
              </button>
            </div>
            <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>

            <div class="step" data-target="#event">
              <button class="step-trigger">
                <span class="bs-stepper-box">2</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Event</span>
                  <span class="bs-stepper-subtitle"></span>
                </span>
              </button>
            </div>
            <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
            
            <div class="step" data-target="#reporters">
              <button class="step-trigger">
                <span class="bs-stepper-box">3</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Reporters</span>
                  <span class="bs-stepper-subtitle"></span>
                </span>
              </button>
            </div>
          </div>

          <div class="bs-stepper-content">
            <form>
              <div id="event-group" class="content">
                <form #eventGroupForm="ngForm" [formGroup]="formEventGroup">
                  <div class="content-header">
                    <h5 class="mb-0"></h5>
                    <small class="text-muted"></small>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-label" for="group_name">Name</label>
                      <input
                        required
                        type="text"
                        formControlName="name"
                        id="group_name"
                        class="form-control"
                        placeholder="Enter Event Umbrella or Event Group Name"
                        autocomplete="off"
                        [class.error]="(formEventGroup.get('name').hasError('nameExist') && formEventGroup.get('name').touched) || (formEventGroup.controls['name'].invalid && goToNext)"
                        (blur)="searchName('group', $event)"
                      />
                      <span *ngIf="formEventGroup.get('name').hasError('nameExist') && formEventGroup.get('name').touched" class="invalid-form">
                        <small class="form-text text-danger">This name already exists!</small
                        >
                      </span>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="group_start_date">Start Date</label>
                      <div class="form-inline input-group">
                        <input
                          required
                          formControlName="startDate"
                          id="group_start_date"
                          class="form-control"
                          placeholder="mm-dd-yyyy"
                          #eventGroupCalendarStartDate="ngbDatepicker"
                          ngbDatepicker
                          [class.error]="formEventGroup.controls['startDate'].invalid && goToNext"
                          [maxDate]="this.formEventGroup.get('endDate').value"
                          autocomplete="off"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventGroupCalendarStartDate.toggle()"
                            type="button" rippleEffect></button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="group_end_date">End Date</label>
                      <div class="form-inline input-group">
                        <input
                          required
                          formControlName="endDate"
                          id="group_end_date"
                          class="form-control"
                          placeholder="mm-dd-yyyy"
                          #eventGroupCalendarEndDate="ngbDatepicker"
                          ngbDatepicker
                          [class.error]="formEventGroup.controls['endDate'].invalid && goToNext"
                          [minDate]="this.formEventGroup.get('startDate').value"
                          autocomplete="off"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventGroupCalendarEndDate.toggle()"
                            type="button" rippleEffect></button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-label" for="group_event_type">Type Event</label>
                      <select formControlName="eventType" class="form-control" id="group_event_type" [class.error]="formEventGroup.controls['eventType'].invalid && goToNext" required>
                        <option value="">Select</option>
                        <option *ngFor="let type of $eventTypes | async" value="{{ type.id }}">{{ type.name | titlecase }}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-label" for="group_event_venue">Event Venue</label>
                      <select formControlName="eventVenue" class="form-control" id="group_event_venue" [class.error]="formEventGroup.controls['eventVenue'].invalid && goToNext" required>
                        <option value="">Select</option>
                        <option *ngFor="let venue of $eventVenues | async" value="{{ venue.id }}">{{ venue.name | titlecase }}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-12" *ngIf="formEventGroup.get('eventVenue').value === '1' || formEventGroup.get('eventVenue').value === '3'">
                      <label class="form-label" for="group_location">Region/Market</label>
                      <input
                        type="text"
                        formControlName="location"
                        id="group_location"
                        class="form-control"
                        [class.error]="formEventGroup.controls['location'].invalid && goToNext"
                        placeholder="Enter the geography of where the event activations will take place"
                        autocomplete="off"
                      />
                    </div>
                    <div class="form-group col-md-12" *ngIf="formEventGroup.get('eventVenue').value === '2' || formEventGroup.get('eventVenue').value === '3'">
                      <label class="form-label" for="group_platform_url">URL</label>
                      <input
                        type="text"
                        formControlName="platformUrl"
                        id="group_platform_url"
                        class="form-control"
                        [class.error]="formEventGroup.controls['platformUrl'].invalid && goToNext"
                        placeholder="Enter event URL"
                        autocomplete="off"
                      />
                    </div>
                  </div>

                  <div class="d-flex justify-content-between ox--btn-wizard">
                    <button
                      (click)="stepperNext(eventGroupForm, 'eventGroup')"
                      id="btn-next-eventGroup"
                      type="submit"
                      class="btn btn-primary btn-next"
                      rippleEffect
                    >
                      <span class="align-middle d-sm-inline-block">Publish</span>
                    </button>
                  </div>
                </form>
              </div>

              <div id="event" class="content">
                <form #eventForm="ngForm" [formGroup]="formEvent">
                  <div class="content-header">
                    <h5 class="mb-0">Create event</h5>
                    <small></small>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-label" for="event_name">Name</label>
                      <input
                        required
                        type="text"
                        formControlName="name"
                        id="event_name"
                        class="form-control"
                        placeholder="Enter name of local or sub-event"
                        [class.error]="(formEvent.get('name').hasError('nameExist') && formEvent.get('name').touched) || (formEvent.controls['name'].invalid && goToNext)"
                        (blur)="searchName('event', $event)"
                        autocomplete="off"
                      />
                      <span *ngIf="formEvent.get('name').hasError('nameExist') && formEvent.get('name').touched" class="invalid-form">
                        <small class="form-text text-danger">This name already exists!</small
                        >
                      </span>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-label" for="group_location">Location</label>
                      <input
                        type="text"
                        formControlName="location"
                        id="group_location"
                        class="form-control"
                        [class.error]="formEvent.controls['location'].invalid && goToNext"
                        placeholder="Enter the geography of where the event activations will take place"
                        autocomplete="off"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="event_start_date">Start Date</label>
                      <div class="form-inline input-group">
                        <input
                          required
                          formControlName="startDate"
                          id="event_start_date"
                          class="form-control"
                          placeholder="mm-dd-yyyy"
                          #eventCalendarStartDate="ngbDatepicker"
                          ngbDatepicker
                          [minDate]="this.formEventGroup.get('startDate').value"
                          [maxDate]="this.formEventGroup.get('endDate').value"
                          [class.error]="formEvent.controls['startDate'].invalid && goToNext"
                          autocomplete="off"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventCalendarStartDate.toggle()"
                            type="button" rippleEffect></button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="event_end_date">End Date</label>
                      <div class="form-inline input-group">
                        <input
                          required
                          formControlName="endDate"
                          id="event_end_date"
                          class="form-control"
                          placeholder="mm-dd-yyyy"
                          #eventCalendarEndDate="ngbDatepicker"
                          ngbDatepicker
                          [minDate]="this.formEventGroup.get('startDate').value"
                          [maxDate]="this.formEventGroup.get('endDate').value"
                          [class.error]="formEvent.controls['endDate'].invalid && goToNext"
                          autocomplete="off"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventCalendarEndDate.toggle()"
                            type="button" rippleEffect></button>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label class="form-label" for="group_start_time">Start Time</label>
                      <div class="form-group" >
                        <ngb-timepicker
                          formControlName="startTime"
                          id="group_start_time"
                          class="ox--timepicker"
                          [class.error]="formEvent.controls['startTime'].invalid"
                        ></ngb-timepicker>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="group_end_time">End Time</label>
                      <div class="form-group" >
                        <ngb-timepicker
                          formControlName="endTime"
                          id="group_end_time"
                          class="ox--timepicker"
                          [class.error]="formEvent.controls['endTime'].invalid"
                        ></ngb-timepicker>
                      </div>
                    </div>
                    
                    <div class="form-group col-md-12">
                      <label class="form-label" for="event_budget">Event Budget</label>
                      <input
                        required
                        inputmode="decimal"
                        pattern="[0-9]*"
                        type="text"
                        formControlName="budget"
                        id="event_budget"
                        class="form-control"
                        placeholder="Enter event budget"
                        mask="separator"
                        prefix="$ "
                        thousandSeparator="."
                        appOnlyNumbers
                        [class.error]="formEvent.controls['budget'].invalid && goToNext"
                        autocomplete="off"
                      />
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-label" for="event_sponsorship_investment">Sponsorship Investment</label>
                      <input
                        required
                        inputmode="decimal"
                        pattern="[0-9]*"
                        type="text"
                        formControlName="sponsorshipInvestment"
                        id="event_sponsorship_investment"
                        class="form-control"
                        placeholder="Enter sponsorship investment"
                        mask="separator"
                        prefix="$ "
                        thousandSeparator="."
                        appOnlyNumbers
                        [class.error]="formEvent.controls['sponsorshipInvestment'].invalid && goToNext"
                        autocomplete="off"
                      />
                    </div>

                    <ng-container *ngIf="($eventObjetives | async) as objetives">
                      <div class="form-group col-md-12">
                        <label class="form-label" for="event_main_objetive">Main Objective</label>
                        <select formControlName="eventObjetive" class="form-control" id="event_main_objetive" [class.error]="formEvent.controls['eventObjetive'].invalid && goToNext" required >
                          <option value="">Select</option>
                          <option *ngFor="let objetive of objetives.eventObjetives" [disabled]="objetive.id.toString() === formEvent.get('eventSecondaryObjetive').value" value="{{ objetive.id }}">{{ objetive.name | titlecase }}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-label" for="event_secondary_objetive">Secondary Objective (optional)</label>
                        <select formControlName="eventSecondaryObjetive" class="form-control" id="event_secondary_objetive">
                          <option value="">Select</option>
                          <option *ngFor="let objetive of objetives.eventObjetives" [disabled]="objetive.id.toString() === formEvent.get('eventObjetive').value" value="{{ objetive.id }}">{{ objetive.name | titlecase }}</option>
                        </select>
                      </div>
                    </ng-container>

                    <div class="form-group col-md-12">
                      <label class="form-label" for="event_attendance_number">Expected Attendance</label>
                      <input
                        required
                        inputmode="decimal"
                        pattern="[0-9]*"
                        type="text"
                        formControlName="attendance"
                        id="event_attendance_number"
                        class="form-control"
                        placeholder="Ex: 10"
                        appOnlyNumbers
                        [class.error]="formEvent.controls['attendance'].invalid && goToNext"
                        autocomplete="off"
                      />
                    </div>   

                    <div class="form-group col-md-12">
                      <div class="row onxite--targets-form" formGroupName="targets">
                        <div class="form-group col-md-12">
                          <h3>Target Audience - Demographics</h3>
                        </div>

                        <ng-container *ngFor="let target of targetQuantityArray; let i = index" formGroupName="target_{{ target }}">
                          <div class="form-group col-md-12 text-right onxite--target-section-start">
                            <span *ngIf="targetQuantityArray.length > 1" (click)="deleteTarget(target)">
                              <span [data-feather]="'x'"></span>
                            </span>
                          </div>

                          <div class="form-group col-md-7">
                            <label class="form-label" for="event_target_name_{{ target }}">Name</label>
                            <input
                              required
                              type="text"
                              formControlName="name"
                              id="event_target_name_{{ target }}"
                              class="form-control"
                              placeholder="Example: Soccer fans"
                              autocomplete="off"
                              [class.error]="formEvent.get('targets.target_'+target+'.name').hasError('required') && goToNext"
                            />
                          </div>
                          <div class="form-group col-md-5">
                            <label class="form-label" for="event_target_expected_audience_{{ target }}">Expected Audience (%)</label>
                            <input
                              required
                              type="text"
                              formControlName="expectedAttendance"
                              id="event_target_expected_audience_{{ target }}"
                              class="form-control"
                              placeholder="%"
                              suffix="%"
                              maxlength="3"
                              autocomplete="off"
                              [class.error]="formEvent.get('targets.target_'+target+'.expectedAttendance').hasError('required') && goToNext"
                              (input)="validatePercentage($event, target)"
                            />
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_age_range_{{ target }}">Age Group</label>
                            <nouislider id="event_age_range" [(ngModel)]="ageRange[i].range" [ngModelOptions]="{standalone: true}" [config]="configSliderAge" (change)="setValues('target_' + target, ageRange[i].range)"></nouislider>
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_target_gender_{{ target }}">Gender</label>
                            <select formControlName="eventGender" class="form-control" id="event_target_gender_{{ target }}" [class.error]="formEvent.get('targets.target_'+target+'.eventGender').hasError('required') && goToNext" required>
                              <option value="">Select</option>
                              <option *ngFor="let gender of $eventGenders | async" value="{{ gender.id }}">{{ gender.name !== 'LGTBQA+' ? (gender.name | titlecase) : gender.name }}</option>
                            </select>
                          </div>
                          <div class="form-group col-md-12 onxite--target-section-end">
                            <label class="form-label" for="event_target_ethnicity_{{ target }}">Ethnicity</label>
                            <select formControlName="eventEthnicity" class="form-control" id="event_target_ethnicity_{{ target }}" [class.error]="formEvent.get('targets.target_'+target+'.eventEthnicity').hasError('required') && goToNext" required>
                              <option value="">Select</option>
                              <option *ngFor="let ethnicity of $eventEthnicities | async" value="{{ ethnicity.id }}">{{ ethnicity.name | titlecase }}</option>
                            </select>
                          </div>
                        </ng-container>
                        
                        <div class="form-group col-md-12">
                          <button
                            class="btn btn-icon btn-outline-secondary onxite--add-sections"
                            type="button"
                            *ngIf="targetQuantityArray.length < maxTargets"
                            (click)="addNewTarget()"
                            rippleEffect
                          >
                            <span>Add additional target</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-12">
                      <div class="row onxite--assets-form" formGroupName="assets">
                        <div class="form-group col-md-12">
                          <h3>Assets</h3>
                        </div>

                        <ng-container *ngFor="let asset of assetQuantityArray" formGroupName="asset_{{ asset }}">
                          <div class="form-group col-md-12 text-right onxite--asset-section-start">
                            <span *ngIf="assetQuantityArray.length > 1" (click)="deleteAsset(asset)">
                              <span [data-feather]="'x'"></span>
                            </span>
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_asset_type_{{ asset }}">Asset Type</label>
                            <ng-select
                              *ngIf="($eventAssetTypes | async) as assetTypes"
                              id="event_asset_type_{{ asset }}"
                              formControlName="type"
                              bindValue="id"
                              bindLabel="name"
                              [items]="assetTypes"
                              [multiple]="false"
                              [closeOnSelect]="true"
                              [clearable]="false"
                              placeholder="Select"
                              [class.error]="formEvent.get('assets.asset_'+asset+'.type').hasError('required') && goToNext"
                              required >
                              <ng-template ng-option-tmp ng-label-tmp let-item="item">
                                {{ item.name | titlecase }}
                              </ng-template>
                            </ng-select>
                          </div>
                          <div class="col-md-4">
                            <div class="onxite--asset-image" [ngClass]="formEvent.get('assets.asset_' + asset) && formEvent.get('assets.asset_' + asset + '.name').value ? null: 'ox--default-image'">
                              <img
                                [src]="
                                !!formEvent.get('assets.asset_' + asset) && formEvent.get('assets.asset_' + asset + '.name').value
                                    ? imageContainer + '/event-assets/' + formEvent.get('assets.asset_' + asset + '.name').value
                                    : '/assets/images/icons/default-image.svg'
                                "
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="col-md-8">
                            <fieldset class="form-group">
                              <label for="event_asset_name_raw_{{ asset }}">Image:</label>
                              <div class="custom-file">
                                <input
                                  type="file"
                                  class="custom-file-input"
                                  type="file"
                                  formControlName="nameRaw"
                                  accept="image/*"
                                  id="event_asset_name_raw_{{ asset }}"
                                  [class.error]="formEvent.get('assets.asset_'+asset+'.nameRaw').hasError('required') && goToNext"
                                  (change)="uploadFile($event, 'asset_' + asset)"
                                />
                                <label class="custom-file-label" for="event_asset_name_raw_{{ asset }}">
                                  {{
                                    !!formEvent.get('assets.asset_' + asset) && formEvent.get('assets.asset_' + asset + '.name').value ? "File uploaded" : "Choose file"
                                  }}
                                </label>
                                <small><i>Recomended resolution 300x300 px, max 10 MB, supported types: jpg, jpeg, gif, png, heic</i></small>
                              </div>
                            </fieldset>
                          </div>

                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_asset_objetive_{{ asset }}">Asset Objective</label>
                            <select formControlName="objetive" class="form-control" id="event_asset_objetive_{{ asset }}" [class.error]="formEvent.get('assets.asset_'+asset+'.objetive').hasError('required') && goToNext" required *ngIf="($assetObjetives | async) as assetObjetives">
                              <option value="">Select</option>
                              <option *ngFor="let asset of assetObjetives" value="{{ asset.id }}">{{ asset.name | titlecase }}</option>
                            </select>
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_asset_expected_quantity_{{ asset }}">Expected QTY / Engagement</label>
                            <input
                              required
                              inputmode="decimal"
                              pattern="[0-9]*"
                              type="text"
                              formControlName="expectedQuantity"
                              id="event_asset_expected_quantity_{{ asset }}"
                              class="form-control"
                              placeholder="Number"
                              appOnlyNumbers
                              [class.error]="formEvent.get('assets.asset_'+asset+'.expectedQuantity').invalid && goToNext"
                              autocomplete="off"
                            />
                          </div>
                          <div class="form-group col-md-12 onxite--asset-section-end">
                            <label class="form-label" for="event_asset_expected_description_{{ asset }}">Description (optional)</label>
                            <input
                              type="text"
                              formControlName="description"
                              id="event_asset_expected_description_{{ asset }}"
                              class="form-control"
                              placeholder="Describe your asset"
                              [class.error]="formEvent.get('assets.asset_'+asset+'.description').invalid && goToNext"
                              autocomplete="off"
                            />
                          </div>
                        </ng-container>

                        <div class="form-group col-md-12">
                          <button
                            class="btn btn-icon btn-outline-secondary onxite--add-sections"
                            type="button"
                            rippleEffect
                            *ngIf="assetQuantityArray.length < maxAssets"
                            (click)="addNewAsset()"
                          >
                            <span>Add additional assets</span>
                          </button>
                        </div>

                        <div class="form-group col-md-12 ox--asset-advice">
                          <small>
                            If you can't find your asset, please email us at <a href="mailto:support@onxite.com">support@onxite.com</a>
                          </small>
                        </div>
                      </div>
                    </div>
                    
                  </div>

                  <div class="d-flex justify-content-between ox--btn-wizard">
                    <button
                      type="button"
                      (click)="stepperPrevious()"
                      class="btn btn-outline-secondary btn-prev"
                      rippleEffect
                    >
                      <span class="align-middle d-sm-inline-block">Back</span>
                    </button>
                    <button
                      (click)="stepperNext(eventForm, 'event')"
                      id="btn-next-event"
                      class="btn btn-primary btn-next"
                      rippleEffect
                    >
                      <span class="align-middle d-sm-inline-block">Next</span>
                    </button>
                  </div>
                </form>
              </div>

              <div id="reporters" class="content">
                <form #reportersForm="ngForm" [formGroup]="formReporter">
                  <div class="content-header">
                    <h5 class="mb-0">Assign reporters</h5>
                    <small></small>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <div class="row onxite--reporters-form">
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_email">Email</label>
                          <ng-autocomplete
                            #ngAutoCompleteStatic
                            required
                            [data]="searchResults"
                            id="reporter_email"
                            formControlName="email"
                            (inputCleared)="clearResults()"
                            [initialValue]=""
                            [placeholder]="'Enter reporter email'"
                            [searchKeyword]="'email'"
                            (selected)="selectResult()"
                            [itemTemplate]="itemTemplateStatic"
                            [class.error]="formReporter.controls['email'].invalid && goToNext"
                          >
                          </ng-autocomplete>

                          <ng-template #itemTemplateStatic let-item>
                            <a [innerHTML]="item"></a>
                          </ng-template>
                        </div>
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_name">Full Name</label>
                          <input
                            required
                            type="text"
                            id="reporter_name"
                            formControlName="name"
                            class="form-control"
                            placeholder="Enter Name and Last Name"
                            [class.error]="formReporter.controls['name'].invalid && goToNext"
                            autocomplete="off"
                          />
                        </div>
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_organization">Organization/Company</label>
                          <input
                            required
                            type="text"
                            id="reporter_organization"
                            formControlName="organization"
                            class="form-control"
                            placeholder="Enter reporter organization"
                            [class.error]="formReporter.controls['organization'].invalid && goToNext"
                            autocomplete="off"
                          />
                        </div>
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_phone">Phone Number</label>
                          <input
                            inputmode="decimal"
                            pattern="[0-9]*"
                            type="text"
                            id="reporter_phone"
                            formControlName="phone"
                            class="form-control"
                            placeholder="Enter reporter phone number"
                            appOnlyNumbers
                            [class.error]="formReporter.controls['phone'].invalid && goToNext"
                            autocomplete="off"
                          />
                        </div>
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_survey_assign">Survey Type</label>
                          <select
                            formControlName="surveyType"
                            id="reporter_survey_assign"
                            class="form-control"
                            required
                          >
                            <option value="">Select</option>
                            <option value="1">Simple Survey</option>
                            <option value="2">Extended Survey</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-12">
                      <button
                        class="btn btn-icon btn-outline-secondary"
                        type="button"
                        (click)="addReporter()"
                        rippleEffect
                      >
                        <span>Add additional reporter</span>
                      </button>
                    </div>

                    <div class="form-group col-md-12 ox--reporters-wrapper">
                      <ng-container *ngIf="reporters.length > 0">
                        <span class="ox--reporter-added" *ngFor="let reporter of reporters">
                          {{ reporter.email }}
                          <span (click)="removeReporter(reporter.email)">
                            <i data-feather="x"></i>
                          </span>
                        </span>
                      </ng-container>
                    </div>
                    <div class="form-group col-md-12 ox--advice">
                      <span>
                        Minimum 5 reporters per event recommended
                      </span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between ox--btn-wizard">
                    <button
                      type="button"
                      (click)="stepperPrevious()"
                      class="btn btn-outline-secondary btn-prev"
                      rippleEffect
                    >
                      <span class="align-middle d-sm-inline-block">Back</span>
                    </button>
                    <button class="btn btn-primary btn-submit" id="btn-submit" rippleEffect (click)="onSubmit()">Assign</button>
                  </div>
                </form>
              </div>
            </form>
          </div>

        </div>
      </section>
    </ng-container>

    <ng-template #onlyEvent>
      <section>
        <div id="event-wizard" class="bs-stepper">
          <div class="bs-stepper-header">  
            <div class="step" data-target="#event">
              <button class="step-trigger">
                <span class="bs-stepper-box">1</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Event</span>
                  <span class="bs-stepper-subtitle"></span>
                </span>
              </button>
            </div>
            <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
            
            <div class="step" data-target="#reporters">
              <button class="step-trigger">
                <span class="bs-stepper-box">2</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Reporters</span>
                  <span class="bs-stepper-subtitle"></span>
                </span>
              </button>
            </div>
          </div>
    
          <div class="bs-stepper-content">
            <form>
              <div id="event" class="content">
                <form #eventForm="ngForm" [formGroup]="formEvent">
                  <div class="content-header">
                    <h5 class="mb-0">Create event</h5>
                    <small></small>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-label" for="event_group">Event Group</label>
                      <select formControlName="eventGroup" class="form-control" id="event_group" required (change)="loadDataforEvent()">
                        <option value="">Select</option>
                        <option *ngFor="let group of eventGroups" value="{{ group.id }}">{{ group.name | titlecase }}</option>
                      </select>
                    </div>
                  </div>
    
                  <div class="row" *ngIf="dataForEvent">
                    <div class="form-group col-md-12">
                      <label class="form-label" for="event_name">Name</label>
                      <input
                        required
                        type="text"
                        formControlName="name"
                        id="event_name"
                        class="form-control"
                        placeholder="Enter name of local or sub-event"
                        (blur)="searchName('event', $event)"
                        [class.error]="(formEvent.get('name').hasError('nameExist') && formEvent.get('name').touched) || (formEvent.controls['name'].invalid && goToNext)"
                        autocomplete="off"
                      />
                      <span *ngIf="formEvent.get('name').hasError('nameExist') && formEvent.get('name').touched" class="invalid-form">
                        <small class="form-text text-danger">This name already exists!</small
                        >
                      </span>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-label" for="group_location">Location</label>
                      <input
                        type="text"
                        formControlName="location"
                        id="group_location"
                        class="form-control"
                        [class.error]="formEvent.controls['location'].invalid && goToNext"
                        placeholder="Enter the geography of where the event activations will take place"
                        autocomplete="off"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="event_start_date">Start Date</label>
                      <div class="form-inline input-group">
                        <input
                          required
                          formControlName="startDate"
                          id="event_start_date"
                          class="form-control"
                          placeholder="mm-dd-yyyy"
                          #eventCalendarStartDate="ngbDatepicker"
                          ngbDatepicker
                          [minDate]="this.formEventGroup.get('startDate').value"
                          [maxDate]="this.formEventGroup.get('endDate').value"
                          [class.error]="formEvent.controls['startDate'].invalid && goToNext"
                          autocomplete="off"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventCalendarStartDate.toggle()"
                            type="button" rippleEffect></button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="event_end_date">End Date</label>
                      <div class="form-inline input-group">
                        <input
                          required
                          formControlName="endDate"
                          id="event_end_date"
                          class="form-control"
                          placeholder="mm-dd-yyyy"
                          #eventCalendarEndDate="ngbDatepicker"
                          ngbDatepicker
                          [minDate]="this.formEventGroup.get('startDate').value"
                          [maxDate]="this.formEventGroup.get('endDate').value"
                          [class.error]="formEvent.controls['endDate'].invalid && goToNext"
                          autocomplete="off"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventCalendarEndDate.toggle()"
                            type="button" rippleEffect></button>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label class="form-label" for="group_start_time">Start Time</label>
                      <div class="form-group" >
                        <ngb-timepicker
                          formControlName="startTime"
                          id="group_start_time"
                          class="ox--timepicker"
                          [class.error]="formEvent.controls['startTime'].invalid"
                        ></ngb-timepicker>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="group_end_time">End Time</label>
                      <div class="form-group" >
                        <ngb-timepicker
                          formControlName="endTime"
                          id="group_end_time"
                          class="ox--timepicker"
                          [class.error]="formEvent.controls['endTime'].invalid"
                        ></ngb-timepicker>
                      </div>
                    </div>

                    <div class="form-group col-md-12">
                      <label class="form-label" for="event_budget">Event Budget</label>
                      <input
                        required
                        inputmode="decimal"
                        pattern="[0-9]*"
                        type="text"
                        formControlName="budget"
                        id="event_budget"
                        class="form-control"
                        placeholder="Enter event budget"
                        autocomplete="off"
                        mask="separator"
                        prefix="$ "
                        thousandSeparator="."
                        [class.error]="formEvent.controls['budget'].invalid && goToNext"
                        appOnlyNumbers
                      />
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-label" for="event_sponsorship_investment">Sponsorship Investment</label>
                      <input
                        required
                        inputmode="decimal"
                        pattern="[0-9]*"
                        type="text"
                        formControlName="sponsorshipInvestment"
                        id="event_sponsorship_investment"
                        class="form-control"
                        placeholder="Enter sponsorship investment"
                        mask="separator"
                        prefix="$ "
                        thousandSeparator="."
                        appOnlyNumbers
                        [class.error]="formEvent.controls['sponsorshipInvestment'].invalid && goToNext"
                        autocomplete="off"
                      />
                    </div>
    
                    <ng-container *ngIf="($eventObjetives | async) as objetives">
                      <div class="form-group col-md-12">
                        <label class="form-label" for="event_main_objetive">Main Objective</label>
                        <select formControlName="eventObjetive" class="form-control" id="event_main_objetive" [class.error]="formEvent.controls['eventObjetive'].invalid && goToNext" required >
                          <option value="">Select</option>
                          <option *ngFor="let objetive of objetives.eventObjetives" [disabled]="objetive.id.toString() === formEvent.get('eventSecondaryObjetive').value" value="{{ objetive.id }}">{{ objetive.name | titlecase }}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-label" for="event_secondary_objetive">Secondary Objective (optional)</label>
                        <select formControlName="eventSecondaryObjetive" class="form-control" id="event_secondary_objetive">
                          <option value="">Select</option>
                          <option *ngFor="let objetive of objetives.eventObjetives" [disabled]="objetive.id.toString() === formEvent.get('eventObjetive').value" value="{{ objetive.id }}">{{ objetive.name | titlecase }}</option>
                        </select>
                      </div>
                    </ng-container>

                    <div class="form-group col-md-12">
                      <label class="form-label" for="event_attendance_number">Expected Attendance</label>
                      <input
                        required
                        inputmode="decimal"
                        pattern="[0-9]*"
                        type="text"
                        formControlName="attendance"
                        id="event_attendance_number"
                        class="form-control"
                        placeholder="Ex: 10"
                        appOnlyNumbers
                        [class.error]="formEvent.controls['attendance'].invalid && goToNext"
                        autocomplete="off"
                      />
                    </div>  
    
                    <div class="form-group col-md-12">
                      <div class="row onxite--targets-form" formGroupName="targets">
                        <div class="form-group col-md-12">
                          <h3>Target Audience - Demographics</h3>
                        </div>
                        
                        <ng-container *ngFor="let target of targetQuantityArray; let i = index" formGroupName="target_{{ target }}">
                          <div class="form-group col-md-12 text-right onxite--target-section-start">
                            <span *ngIf="targetQuantityArray.length > 1" (click)="deleteTarget(target)">
                              <span [data-feather]="'x'"></span>
                            </span>
                          </div>

                          <div class="form-group col-md-7">
                            <label class="form-label" for="event_target_name_{{ target }}">Name</label>
                            <input
                              required
                              type="text"
                              formControlName="name"
                              id="event_target_name_{{ target }}"
                              class="form-control"
                              placeholder="Example: Soccer fans"
                              autocomplete="off"
                              [class.error]="formEvent.get('targets.target_'+target+'.name').hasError('required') && goToNext"
                            />
                          </div>
                          <div class="form-group col-md-5">
                            <label class="form-label" for="event_target_expected_audience_{{ target }}">Expected Audience (%)</label>
                            <input
                              required
                              type="text"
                              formControlName="expectedAttendance"
                              id="event_target_expected_audience_{{ target }}"
                              class="form-control"
                              placeholder="%"
                              suffix="%"
                              maxlength="3"
                              autocomplete="off"
                              [class.error]="formEvent.get('targets.target_'+target+'.expectedAttendance').hasError('required') && goToNext"
                              (input)="validatePercentage($event, target)"
                            />
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_age_range_{{ target }}">Age Group</label>
                            <nouislider id="event_age_range" [(ngModel)]="ageRange[i].range" [ngModelOptions]="{standalone: true}" [config]="configSliderAge" (change)="setValues('target_' + target, ageRange[i].range)"></nouislider>
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_target_gender_{{ target }}">Gender</label>
                            <select formControlName="eventGender" class="form-control" id="event_target_gender_{{ target }}" [class.error]="formEvent.get('targets.target_'+target+'.eventGender').hasError('required') && goToNext" required>
                              <option value="">Select</option>
                              <option *ngFor="let gender of $eventGenders | async" value="{{ gender.id }}">{{ gender.name !== 'LGTBQA+' ? (gender.name | titlecase) : gender.name }}</option>
                            </select>
                          </div>
                          <div class="form-group col-md-12 onxite--target-section-end">
                            <label class="form-label" for="event_target_ethnicity_{{ target }}">Ethnicity</label>
                            <select formControlName="eventEthnicity" class="form-control" id="event_target_ethnicity_{{ target }}" [class.error]="formEvent.get('targets.target_'+target+'.eventEthnicity').hasError('required') && goToNext" required>
                              <option value="">Select</option>
                              <option *ngFor="let ethnicity of $eventEthnicities | async" value="{{ ethnicity.id }}">{{ ethnicity.name | titlecase }}</option>
                            </select>
                          </div>
                        </ng-container>
                        
                        <div class="form-group col-md-12">
                          <button
                            class="btn btn-icon btn-outline-secondary onxite--add-sections"
                            type="button"
                            *ngIf="targetQuantityArray.length < maxTargets"
                            (click)="addNewTarget()"
                            rippleEffect
                          >
                            <span>Add additional target</span>
                          </button>
                        </div>
                      </div>
                    </div> 
    
                    <div class="form-group col-md-12">
                      <div class="row onxite--assets-form" formGroupName="assets">
                        <div class="form-group col-md-12">
                          <h3>Assets</h3>
                        </div>
    
                        <ng-container *ngFor="let asset of assetQuantityArray" formGroupName="asset_{{ asset }}">
                          <div class="form-group col-md-12 text-right onxite--asset-section-start">
                            <span *ngIf="assetQuantityArray.length > 1" (click)="deleteAsset(asset)">
                              <span [data-feather]="'x'"></span>
                            </span>
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_asset_type_{{ asset }}">Asset Type</label>
                            <ng-select
                              *ngIf="($eventAssetTypes | async) as assetTypes"
                              id="event_asset_type_{{ asset }}"
                              formControlName="type"
                              bindValue="id"
                              bindLabel="name"
                              [items]="assetTypes"
                              [multiple]="false"
                              [closeOnSelect]="true"
                              [clearable]="false"
                              placeholder="Select"
                              [class.error]="formEvent.get('assets.asset_'+asset+'.type').hasError('required') && goToNext"
                              required >
                              <ng-template ng-option-tmp ng-label-tmp let-item="item">
                                {{ item.name | titlecase }}
                              </ng-template>
                            </ng-select>
                          </div>
                          <div class="col-md-4">
                            <div class="onxite--asset-image" [ngClass]="formEvent.get('assets.asset_' + asset) && formEvent.get('assets.asset_' + asset + '.name').value ? null: 'ox--default-image'">
                              <img
                                [src]="
                                !!formEvent.get('assets.asset_' + asset) && formEvent.get('assets.asset_' + asset + '.name').value
                                    ? imageContainer + '/event-assets/' + formEvent.get('assets.asset_' + asset + '.name').value
                                    : '/assets/images/icons/default-image.svg'
                                "
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="col-md-8">
                            <fieldset class="form-group">
                              <label for="event_asset_name_raw_{{ asset }}">Image:</label>
                              <div class="custom-file">
                                <input
                                  type="file"
                                  class="custom-file-input"
                                  type="file"
                                  formControlName="nameRaw"
                                  accept="image/*"
                                  id="event_asset_name_raw_{{ asset }}"
                                  [class.error]="formEvent.get('assets.asset_'+asset+'.nameRaw').hasError('required') && goToNext"
                                  (change)="uploadFile($event, 'asset_' + asset)"
                                />
                                <label class="custom-file-label" for="event_asset_name_raw_{{ asset }}">
                                  {{
                                    !!formEvent.get('assets.asset_' + asset) && formEvent.get('assets.asset_' + asset + '.name').value ? "File uploaded" : "Choose file"
                                  }}
                                </label>
                                <small><i>Recomended resolution 300x300 px, max 10 MB, supported types: jpg, jpeg, gif, png, heic</i></small>
                              </div>
                            </fieldset>
                          </div>

                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_asset_objetive_{{ asset }}">Asset Objective</label>
                            <select formControlName="objetive" class="form-control" id="event_asset_objetive_{{ asset }}" [class.error]="formEvent.get('assets.asset_'+asset+'.objetive').hasError('required') && goToNext" required *ngIf="($assetObjetives | async) as assetObjetives">
                              <option value="">Select</option>
                              <option *ngFor="let asset of assetObjetives" value="{{ asset.id }}">{{ asset.name | titlecase }}</option>
                            </select>
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-label" for="event_asset_expected_quantity_{{ asset }}">Expected QTY / Engagement</label>
                            <input
                              required
                              inputmode="decimal"
                              pattern="[0-9]*"
                              type="text"
                              formControlName="expectedQuantity"
                              id="event_asset_expected_quantity_{{ asset }}"
                              class="form-control"
                              placeholder="Number"
                              appOnlyNumbers
                              [class.error]="formEvent.get('assets.asset_'+asset+'.expectedQuantity').invalid && goToNext"
                              autocomplete="off"
                            />
                          </div>
                          <div class="form-group col-md-12 onxite--asset-section-end">
                            <label class="form-label" for="event_asset_expected_description_{{ asset }}">Description (optional)</label>
                            <input
                              type="text"
                              formControlName="description"
                              id="event_asset_expected_description_{{ asset }}"
                              class="form-control"
                              placeholder="Describe your asset"
                              [class.error]="formEvent.get('assets.asset_'+asset+'.description').invalid && goToNext"
                              autocomplete="off"
                            />
                          </div>
                        </ng-container>
    
                        <div class="form-group col-md-12">
                          <button
                            class="btn btn-icon btn-outline-secondary onxite--add-sections"
                            type="button"
                            rippleEffect
                            *ngIf="assetQuantityArray.length < maxAssets"
                            (click)="addNewAsset()"
                          >
                            <span>Add additional assets</span>
                          </button>
                        </div>
                        <div class="form-group col-md-12 ox--asset-advice">
                          <small>
                            If you can't find your asset, please email us at <a href="mailto:support@onxite.com">support@onxite.com</a>
                          </small>
                        </div>
                      </div>
                    </div>
                    
                  </div>
    
                  <div class="d-flex justify-content-between ox--btn-wizard">
                    <button
                      (click)="stepperNext(eventForm, 'event')"
                      id="btn-next-event"
                      class="btn btn-primary btn-next"
                      rippleEffect
                    >
                      <span class="align-middle d-sm-inline-block">Next</span>
                    </button>
                  </div>
                </form>
              </div>
    
              <div id="reporters" class="content">
                <form #reportersForm="ngForm" [formGroup]="formReporter">
                  <div class="content-header">
                    <h5 class="mb-0">Assign reporters</h5>
                    <small></small>
                  </div>
    
                  <div class="row">
                    <div class="form-group col-md-12">
                      <div class="row onxite--reporters-form">
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_email">Email</label>
                          <ng-autocomplete
                            #ngAutoCompleteStatic
                            required
                            [data]="searchResults"
                            id="reporter_email"
                            formControlName="email"
                            (inputCleared)="clearResults()"
                            [initialValue]=""
                            [placeholder]="'Enter reporter email'"
                            [searchKeyword]="'email'"
                            (selected)="selectResult()"
                            [itemTemplate]="itemTemplateStatic"
                            [class.error]="formReporter.controls['email'].invalid && goToNext"
                          >
                          </ng-autocomplete>

                          <ng-template #itemTemplateStatic let-item>
                            <a [innerHTML]="item"></a>
                          </ng-template>
                        </div>
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_name">Full Name</label>
                          <input
                            required
                            type="text"
                            id="reporter_name"
                            formControlName="name"
                            class="form-control"
                            placeholder="Enter Name and Last Name"
                            autocomplete="off"
                            [class.error]="formReporter.controls['name'].invalid && goToNext"
                          />
                        </div>
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_organization">Organization/Company</label>
                          <input
                            required
                            type="text"
                            id="reporter_organization"
                            formControlName="organization"
                            class="form-control"
                            placeholder="Enter reporter organization"
                            autocomplete="off"
                            [class.error]="formReporter.controls['organization'].invalid && goToNext"
                          />
                        </div>
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_phone">Phone Number</label>
                          <input
                            type="text"
                            inputmode="decimal"
                            pattern="[0-9]*"
                            id="reporter_phone"
                            formControlName="phone"
                            class="form-control"
                            placeholder="Enter reporter phone number"
                            appOnlyNumbers
                            autocomplete="off"
                            [class.error]="formReporter.controls['phone'].invalid && goToNext"
                          />
                        </div>
                        <div class="form-group col-md-12">
                          <label class="form-label" for="reporter_survey_assign">Survey Type</label>
                          <select
                            formControlName="surveyType"
                            id="reporter_survey_assign"
                            class="form-control"
                            required
                          >
                            <option value="">Select</option>
                            <option value="1">Simple Survey</option>
                            <option value="2">Extended Survey</option>
                          </select>
                        </div>
                      </div>
                    </div>
    
                    <div class="form-group col-md-12">
                      <button
                        class="btn btn-icon btn-outline-secondary"
                        type="button"
                        (click)="addReporter()"
                        rippleEffect
                      >
                        <span>Add additional reporter</span>
                      </button>
                    </div>

                    <div class="form-group col-md-12 ox--reporters-wrapper">
                      <ng-container *ngIf="reporters.length > 0">
                        <span class="ox--reporter-added" *ngFor="let reporter of reporters">
                          {{ reporter.email }}
                          <span (click)="removeReporter(reporter.email)">
                            <i data-feather="x"></i>
                          </span>
                        </span>
                      </ng-container>
                    </div>
                    <div class="form-group col-md-12 ox--advice">
                      <span>
                        Minimum 5 reporters per event recommended
                      </span>
                    </div>
                  </div>
    
                  <div class="d-flex justify-content-between ox--btn-wizard">
                    <button
                      type="button"
                      (click)="stepperPrevious()"
                      class="btn btn-outline-secondary btn-prev"
                      rippleEffect
                    >
                      <span class="align-middle d-sm-inline-block">Back</span>
                    </button>
                    <button class="btn btn-primary btn-submit" id="btn-submit" rippleEffect (click)="onSubmit()">Assign</button>
                  </div>
                </form>
              </div>
            </form>
          </div>
    
        </div>
      </section>
    </ng-template>
  </ng-container>

  <ng-template #noWizard>
    <form #eventGroupForm="ngForm" [formGroup]="formEventGroup">
      <div class="row">
        <div class="form-group col-md-12">
          <label class="form-label" for="group_name">Name</label>
          <input
            required
            type="text"
            formControlName="name"
            id="group_name"
            class="form-control"
            placeholder="Enter Event Umbrella or Event Group Name"
            autocomplete="off"
          />
        </div>
        <div class="form-group col-md-6">
          <label class="form-label" for="group_start_date">Start Date</label>
          <div class="form-inline input-group">
            <input
              required
              formControlName="startDate"
              id="group_start_date"
              class="form-control"
              placeholder="mm-dd-yyyy"
              #eventGroupCalendarStartDate="ngbDatepicker"
              ngbDatepicker
              [maxDate]="this.formEventGroup.get('endDate').value"
              autocomplete="off"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventGroupCalendarStartDate.toggle()"
                type="button" rippleEffect></button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="form-label" for="group_end_date">End Date</label>
          <div class="form-inline input-group">
            <input
              required
              formControlName="endDate"
              id="group_end_date"
              class="form-control"
              placeholder="mm-dd-yyyy"
              #eventGroupCalendarEndDate="ngbDatepicker"
              ngbDatepicker
              [minDate]="this.formEventGroup.get('startDate').value"
              autocomplete="off"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary feather icon-calendar" (click)="eventGroupCalendarEndDate.toggle()"
                type="button" rippleEffect></button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="form-label" for="group_event_type">Type Event</label>
          <select formControlName="eventType" class="form-control" id="group_event_type">
            <option value="">Select</option>
            <option *ngFor="let type of $eventTypes | async" value="{{ type.id }}">{{ type.name | titlecase }}</option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <label class="form-label" for="group_event_venue">Event Venue</label>
          <select formControlName="eventVenue" class="form-control" id="group_event_venue" required>
            <option value="">Select</option>
            <option *ngFor="let venue of $eventVenues | async" value="{{ venue.id }}">{{ venue.name | titlecase }}</option>
          </select>
        </div>
        <div class="form-group col-md-12" *ngIf="formEventGroup.get('eventVenue').value.toString() === '1' || formEventGroup.get('eventVenue').value.toString() === '3'">
          <label class="form-label" for="group_location">Region/Market</label>
          <input
            required
            type="text"
            formControlName="location"
            id="group_location"
            class="form-control"
            placeholder="Enter the geography of where the event activations will take place"
            autocomplete="off"
          />
        </div>
        <div class="form-group col-md-12" *ngIf="formEventGroup.get('eventVenue').value.toString() === '2' || formEventGroup.get('eventVenue').value.toString() === '3'">
          <label class="form-label" for="group_platform_url">URL</label>
          <input
            required
            type="text"
            formControlName="platformUrl"
            id="group_platform_url"
            class="form-control"
            placeholder="Enter event URL"
            autocomplete="off"
          />
        </div>
      </div>
    </form>
  </ng-template>
  <!--/ Horizontal Wizard -->
</app-modal>
