@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/noui-slider.component.scss';
@import '@core/scss/angular/libs/select.component.scss';

// Header with project info
.onxite--project-header {
  padding-bottom: 40px;

  .onxite--project-image {
    display: inline-block;
    max-width: 100px;
  }

  .onxite--project-title {
    display: inline-block;
    margin-left: 40px;
    vertical-align: middle;
  }

  div:nth-of-type(2) {
    align-self: center;
  }

  img {
    border-radius: 6px;
    margin-left: 20px;
    max-width: 125px;
    width: 100%;
  }

  h4, p {
    color: #000;
  }

  h4 {
    font-weight: 600;
    margin-bottom: 6px;
  }
}

// Event group table
ngb-accordion {
  padding-bottom: 40px;
  width: 100%;
  
  .onxite--group-fields {
    display: block;
    float: none !important;
    padding-left: 1rem;
  }

  .onxite--btn-actions {
    float: right;
  }

  .onxite--group-title {
    color: #000;
    font-size: 1.2rem !important;
    font-weight: 600;
    padding-bottom: 9px;
    padding-top: 2px;

    a {
      color: #000;
    }
  }

  .onxite--group-date {
    font-size: 1.1rem;
  }

  .onxite--events {
    min-height: 60px;

    .ox--event-row {
      .col-6:last-of-type {
        align-self: center;
      }
    }
  }

  .card.ng-star-inserted {
    box-shadow: none;
    justify-content: center;

    .card-header {
      border-bottom: 1px solid #f4f1f1;
      border-top: 1px solid #f4f1f1;
      min-height: 90px;
    }

    .ng-star-inserted[role=tabpanel] {
      background-color: #e1e4e866;
      padding-left: 3rem;

      .onxite--group-title {
        padding-bottom: 1px;
        padding-top: 4px;
      }
    }
  }
}

// Wizard form and internal components and fields
.bs-stepper {
  box-shadow: none;

  .bs-stepper-content {
    & .content {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .ox--timepicker {
    &.error {
      input {
        outline: 1px auto #f00;
      }
    }

    .ngb-tp-input-container .btn-link {
      color: #A9FF01;
    }
  }

  .bs-stepper-box {
    background-color: #A9FF01 !important;
    color: #000 !important;
  }

  .bs-stepper-label {
    .bs-stepper-title {
      color: #000 !important;
    }
  }

  .onxite--targets-form,
  .onxite--assets-form,
  .onxite--reporters-form {
    background: #e1e4e866;
    padding: 20px 20px 0px 20px;
    margin: 20px 0px;
  }

  nouislider {
    margin-top: 1.8rem !important;
    margin-bottom: 3rem !important;
    padding: 0 20px;

    .noUi-connect {
      background: #A9FF01;
    }

    .noUi-handle {
      border: 2px solid #A9FF01;
    }
  }

  .onxite--target-section-start,
  .onxite--asset-section-start {
    margin-top: 5px;
  }

  .onxite--target-section-start > span,
  .onxite--asset-section-start > span {
    cursor: pointer;
  }

  .onxite--target-section-end,
  .onxite--asset-section-end {
    margin-bottom: 20px;
  }

  .onxite--asset-image {
    margin: 0 auto;
    max-width: 90px;

    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  .ox--asset-advice {
    padding-top: 15px;
  }

  #reporters {
    .autocomplete-container .input-container input {
      display: block;
      width: 100%;
      height: 2.714rem;
      padding: 0.438rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.45;
      color: #6e6b7b;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #d8d6de;
      border-radius: 0.357rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .autocomplete-container .input-container input::placeholder {
      color: #b9b9c3;
    }

    .autocomplete-container {
      box-shadow: none;
    }

    .ox--reporters-wrapper {
      padding: 25px 15px 5px 15px;

      .ox--reporter-added {
        background-color: #f3f5f6;
        border-radius: 5px;
        display: inline-block;
        font-size: 0.8rem;
        margin: 0 2px;
        max-width: 155px;
        overflow: hidden;
        padding: 3px 10px;
        position: relative;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        & > span {
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 2px;
        }
      }
    }

    button {
      max-width: 200px;
      width: 100%;
    }

    .ox--advice {
      margin-bottom: 30px;
      padding: 0 20px;
    }
  }
  
  // Button to add sections
  .onxite--add-sections {
    margin-top: 25px;
    width: 200px !important;
  }

  .ox--btn-wizard {
    button {
      margin: 0 2px;
      width: 100%;
    }
  }
  .ngb-dp-weekday {
    color: #000;
  }

  .onxite--assets-form {
    .ng-select {
      .ng-option {
        &.ng-option-marked {
          background-color: #a9ff015c !important;
          color: #000 !important;
        }

        &.ng-option-selected {
            background-color: #A9FF01 !important;
            color: #000 !important;
        }
      }

      &.ng-select-focused {
        .ng-select-container {
          border-color: #A9FF01 !important;
        }
      }
    }

    .custom-file-label {
      cursor: pointer;
    }

    .ox--default-image {
      background-color: #dbdcdd;
      border-radius: 5px;
      padding: 20px;

      img {
        border-radius: 5px;
        border-bottom: 0;
        padding: 0;
        opacity: .5;
      }
    }
  }

  .custom-file {
    small {
      i {
        display: block;
        font-size: 0.8rem;
        line-height: 1.2;
        padding-top: 5px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .onxite--title-navbar {
    .onxite--common-fields {
      .onxite--col:first-of-type {
        padding-right: 0px;
      }
    }
  }

  .onxite--common-fields {
    .onxite--col {
      & > button {
        margin-top: 5px;
        width: 100% !important;
      }
    }
  }
  
}